.calculator {
  padding:10px;
  min-height: 50px;
}

/****** Basic ****************/

.basic {
  width: 235px;
  height: 215px;
}

.basic .results {	
	padding-bottom: 10px;
	width: 215px;
	margin: 0;
}

/* Basic functions pad */
.basic .basic-pad {
	overflow: hidden;
	width: 50px;
}

.basic .basic-pad .basic-function-button {
	width: 50px;
	margin-bottom: 10px;	
}

/****** Scientific ****************/

.scientific {
	width: 290px;
  height: 395px;  
}

.scientific .results {	
	padding-bottom: 10px;
	width: 270px;
	margin: 0;
}

.scientific .memory-pad {
	float: right;
	width: 105px;
	margin-top: 0;
}

.scientific .memory-pad .recall-button {
	width: 50px;
	margin: 0;
}

/* Basic functions pad */
.scientific .scientific_basic-pad {
	float: right;
	width: 105px;	
}

.scientific .scientific_basic-pad .basic-function-button {
	width: 50px;
	margin-bottom: 10px;	
}

.scientific .scientific_basic-pad .basic-function-button:nth-child(odd) {
	width: 50px;
	margin-bottom: 10px;
	margin-right: 5px;
}

/* Deg-Rad pad */
.scientific .deg-rad-pad {
	width: 280px;
}

.scientific .deg-rad-button {
	width: 50px;
	margin-bottom: 10px;
	margin-right: 5px;
}

.scientific .scientific_advanced-pad {
}

.scientific .scientific_advanced-pad .advanced-button {
	width: 60px;
	margin-bottom: 10px;
	margin-right: 10px;
}

.scientific .scientific_advanced-pad .advanced-button:nth-child(4n) {
	width: 60px;
	margin-bottom: 10px;
	margin-right: 0;
}

/* Memory pad */
.scientific .memory-pad {
	height: 25px;	
	width: 105px;
	margin-bottom: 10px;
}

.scientific .store-button {
	width: 50px;
	margin-bottom: 10px;
	margin-right: 5px;
}

.scientific .recall-button {
	width: 50px;
	margin-bottom: 10px;
	margin-right: 5px;
}

/****** Common ****************/
/* Results */
.results .input-results {
	width: 100%;
}

/* Buttons panel */
.buttons-panel {	
	margin: 0;
	padding: 0;
}

/* Clear pad */
.buttons-panel .clear-pad {
	width: 160px;
	margin-right: 5px;
	margin-bottom: 10px;
	float: left;
}

.clear-pad .backspace-button {
	width: 105px;	
	margin-right: 5px;
}

.clear-pad .clear-button {
	width: 50px;
}

/* Numbers pad */
.buttons-panel .numbers-pad {
	clear: left;
	width: 160px;
	margin-right: 5px;
	float: left;
}

.buttons-panel .numbers-pad .number-button {
	width: 50px;
	margin-bottom: 10px;
	margin-right: 5px;
}

.buttons-panel .numbers-pad .number-button:nth-child(3n) {
	margin-right: 0px;
}
