.calculator {
  padding:10px;
  min-height: 50px;
}

.basic {
  width: 235px;
  height: 215px;
}

.scientific {
  
}

.graphing {
  
}

.results {	
	padding-bottom: 10px;
	width: 215px;
	margin: 0;
}

.results input {	
	width: 100%;
}

.buttons-panel {	
	margin: 0;
	padding: 0;
}

.left {
	float: left;
	width: 160px;
}

.clear-pad {
	width: 165px;
	margin: 0;
}

.backspace-button {
	width: 105px;	
	margin-right: 5px;
}

.clear-button {
	width: 50px;
}

.numbers-pad {
	width: 165px;
	margin-top: 10px;
}

.number-button {
	width: 50px;
	margin-bottom: 10px;
	margin-right: 5px;
}

.basic-functions-pad {
	float: right;
	width: 50px;
	margin-top: 0;
}

.basic-function-button {
	width: 48px;
	height: 25px;
	margin-bottom: 10px;	
}