@import url(http://fonts.googleapis.com/css?family=Montserrat);

.calculator {
  padding:10px;
  min-height: 50px;
  border: 3px solid #666666;
  border-radius: 5px;
  cursor: move;
  background-color: #A8A8A8;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  z-index: 100;
}

/****** Basic ****************/

.basic {
  width: 201px;
}

.basic .results {	
	margin-bottom: 10px;
	width: 175px;
	height: 40px;
	border: 3px solid #9C9C9C;
	border-radius: 5px;
	color: #131F85;
}

/* Basic functions pad */
.basic .basic-pad {
	overflow: hidden;
	width: 40px;
}

.basic .basic-pad .basic-function {
	width: 40px;
	margin-bottom: 5px;
	font-size: 22px;	
}

/****** Scientific ****************/

.scientific {
	width: 292px;
  height: 397px;  
}

.scientific .results {	
	padding-bottom: 10px;
	width: 270px;
	margin: 0;
}

.scientific .memory-pad {
	float: right;
	width: 105px;
	margin-top: 0;
}

.scientific .memory-pad .recall {
	width: 50px;
	margin: 0;
}

/* Basic functions pad */
.scientific .scientific_basic-pad {
	float: right;
	width: 105px;	
}

.scientific .scientific_basic-pad .basic-function {
	width: 50px;
	margin-bottom: 10px;	
}

.scientific .scientific_basic-pad .basic-function:nth-child(odd) {
	width: 50px;
	margin-bottom: 10px;
	margin-right: 5px;
}

/* Deg-Rad pad */
.scientific .deg-rad-pad {
	width: 280px;
}

.scientific .deg-rad {
	width: 50px;
	margin-bottom: 10px;
	margin-right: 5px;
}

.scientific .scientific_advanced-pad {
}

.scientific .scientific_advanced-pad .advanced {
	width: 60px;
	margin-bottom: 10px;
	margin-right: 10px;
}

.scientific .scientific_advanced-pad .advanced:nth-child(4n) {
	width: 60px;
	margin-bottom: 10px;
	margin-right: 0;
}

/* Memory pad */
.scientific .memory-pad {
	height: 25px;	
	width: 105px;
	margin-bottom: 10px;
}

.scientific .store {
	width: 50px;
	margin-bottom: 10px;
	margin-right: 5px;
}

.scientific .recall {
	width: 50px;
	margin-bottom: 10px;
	margin-right: 5px;
}

/****** Common ****************/
/* Results */
.results input {
	width: 100%;
	height: 100%;
}

.results .input-results {
	text-align: right;
}

/* Buttons panel */
.buttons-panel {	
	margin: 0;
	padding: 0;
}

.button {
	border: none;
	height: 40px;
	background-color: #131F85;
}

/* Clear pad */
.buttons-panel .clear-pad {
	width: 130px;
	margin-right: 5px;
	margin-bottom: 5px;
	float: left;
}

.clear-pad .backspace {
	width: 62px;	
	margin-right: 6px;
}

.clear-pad .clear {
	width: 62px;
}

/* Numbers pad */
.buttons-panel .numbers-pad {
	clear: left;
	width: 130px;
	margin-right: 5px;
	float: left;
}

.buttons-panel .numbers-pad .number {
	width: 40px;
	background-color: #424C9D;
	margin-bottom: 5px;
	margin-right: 5px;
	font-size: 22px;
}

.buttons-panel .numbers-pad .dot, .buttons-panel .numbers-pad .equals {
	background-color: #131F85;
}

.buttons-panel .numbers-pad .number:nth-child(3n) {
	margin-right: 0px;
}
