.view-drag-and-drop {
}

.view-drag-and-drop .prompt {
    color: #666666;
    font-style: italic;
}

.view-drag-and-drop .choices {
    border: 1px solid black;
}

.view-drag-and-drop .choice {
    margin: 5px;
}

.landing-place {
    min-width: 100px;
    min-height: 30px;
    background-color: #f7f6e1;
}

.landing-place.inline {
    display: inline-block;
}

.modal .landing-place {
    background-color: #edffe3;
}

.drag-and-drop-config-panel .answer-placeholder {
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    max-width: 130px;
}

.drag-and-drop-config-panel .drag-and-drop-choices {
	list-style-type: upper-alpha;
}

.drag-and-drop-config-panel .drag-and-drop-choices li {
	float: left;
    width: 145px;
}

.drag-and-drop-config-panel .drag-and-drop-answers {
}


.display-row:before, .display-row:after {
    content: " ";
    display: table;
}

.drag-and-drop-config-panel .display-row {
    width: 100%;
}

.drag-and-drop-config-panel .display-row:after {
    clear: both;
}

.remove-choice {
    position: absolute;
    right: 38px;
    top: -7px;
}

.drag-and-drop-answers li {
	float: left;
}

.drag-and-drop-config-panel .popover {
    max-width: 350px;
    width: 350px;
}

.popover-row {
    margin-bottom: 10px;
}

.popover-label {
    width: 100px;
    display: inline-block;
}

.popover-input {
    display: inline-block;
}

.popover-content {
    padding: 10px;
}

.modal {
    display: block;
}

