/* Navigator CSS */

.navigator {
    position: relative;
    min-height: 300px;
}

.navigator .navigator-container {
    transition: width 300ms;
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 200px;
    overflow: hidden;
    background-color: #3b383b;
    position: absolute;
    float: left;
}

.navigator .navigator-toggle-button{
  left: 5px;
  top: 35px;
}

.navigator .navigator-left-panel {
    padding-top: 60px;
}

.navigator .nav-left-panel {
    padding-top: 35px;
}

.navigator .nav-left-panel ul {
    min-width: 300px;
}

.navigator.navigator-closed .navigator-container {
    width: 30px;
}

.navigator .config-panel-body {
    padding-left: 200px;
    transition: padding-left 300ms;
}

.navigator.navigator-closed .config-panel-body {
    padding-left: 30px;
}

.navigator .nav li a {
    font-size: 13px;
    cursor: pointer;
    color: #c2bfc2;
}

.navigator .btn-navigator-toggle {
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}