/* Navigator CSS */

.navigator {
}

.navigator .navigator-container {
    overflow: hidden;
    height: 100%;
}

.navigator-container .nav {
    background: #f8f8f8;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    margin: 0 15px 15px 15px;
    font-family: Helvetica;
}

.navigator-container .nav li {
    display: inline;
    float: left;
}

.navigator-container .nav li a {
    font-size: 14px;
}

.navigator-container .nav .active {
    background: #e7e7e7;
}

.navigator-container .nav .active a {
    color: #333333;
}

.navigator-container .nav li:first-child {
    margin-left: 10px;
}

.navigator-toggle-button-row {
    font-family: Helvetica;
    box-sizing: border-box;
    position: absolute;
    left: 0px;
    right: 0px;
    font-size: 18px;
    color: #ffffff;
    max-height: 48px;
    width: 100%;
    background: #4da7c1;
    border-radius: 3px 3px 0 0;
    padding: 12px 16px;
}

.navigator-toggle-button-row .navigator-toggle-button {
    position: relative;
}

.config-panel {
    margin-top: 40px;
}

.navigator-toggle-button-row .navigator-title {
    width: 100%;
    color: white;
}

.wiggi-wiz-overlay .close-icon {
    background: none !important;
    transform: rotate(45deg);
}

.wiggi-wiz-overlay .close-icon:after {
    font-family: Helvetica;
    content: '+';
    font-size: 22px;
    color: #cccccc;
    cursor: pointer;
}

.wiggi-wiz-overlay .close-icon.top {
    top: 7px;
}
.wiggi-wiz-overlay .close-icon.right {
    right: 5px;
}

.navigator-container .nav {
    margin-top: 65px;
}

.navigator .config-panel-body {
    display: block;
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    overflow-y: scroll;
    padding: 0 10px;
}

.navigator .config-panel-body.with-nav {
    top: 130px;
}

.navigator .btn-navigator-toggle {
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    outline: none;
}

.navigator .nav li a {
    color: #777777;
}

.navigator .nav li:hover a,
.navigator .nav li.active a {
    color: #333333;
}