/* Navigator CSS */

.navigator {
}

.navigator .navigator-container {
    overflow: hidden;
    height: 100%;
}

.navigator-toggle-button-row {
    position: absolute;
    height: 30px;
    left: 0px;
    right: 0px;
    border-bottom: 1px solid #292f36;
    background-color: #556270;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.35);
}

.navigator-toggle-button-row .navigator-toggle-button {
    position: relative;
}

.config-panel {
    margin-top: 40px;
}

.navigator-toggle-button-row .navigator-title {
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    padding-top: 5px;
    color: white;
}

.navigator-toggle-button-row .navigator-title .close-icon {
    position: absolute;
    top: -5px;
    right: -5px;
}

.navigator .navigator-toggle-button .btn-navigator-toggle {
    position: absolute;
    background: #3c454e;
    border: none;
    border-radius: 0;
    height: 29px;
    width: 29px;
}

.navigator .navigator-toggle-button .btn-navigator-toggle:hover {
    background: #0a0c0d;
}

.navigator-toggle-button .btn-navigator-toggle .fa {
    color: #ffffff;
    font-size: 16px;
}

.navigator .navigator-left-panel {
    text-transform: uppercase;
    background-color: #333333;
    position: absolute;
    overflow: hidden;
    top: 30px;
    bottom: 0px;
}

.navigator .navigator-left-panel .nav > li {
  border-top: 1px solid #292929;
}

.navigator .navigator-left-panel .nav > li > a:hover {
    background-color: #292929;
    color: #808080;
}

.navigator.navigator-closed .navigator-left-panel {
    width: 0px;
}

.navigator .config-panel-body {
    display: block;
    position: absolute;
    top: 30px;
    bottom: 0px;
    left: 100px;
    right: 0px;
    overflow: scroll;

}

.navigator.navigator-closed .config-panel-body {
}

.navigator .nav li a {
    font-size: 13px;
    cursor: pointer;
    color: #c2bfc2;
}

.navigator .btn-navigator-toggle {
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.navigator .nav li.active a {
    color: #ffffff;
}

.navigator .navigator-left-panel .nav > li.active > a:hover {
    color: #ffffff;
}