@import '../../../../../less/common';

@component-width-in-placeholder: 600px;
@categories-holder-padding: 15px;
//make sure the category fits into the see solution panel
@choices-holder-padding: @categories-holder-padding + 3px;
//make sure choice fits into category

.component-placeholder {
  .render-corespring-dnd-categorize {
    //the component takes the full width of the player
    width: @component-width-in-placeholder;
    max-width: @component-width-in-placeholder;
    margin: 10px;

    .undo-start-over {
      //hide, but block the space, so that the
      //content is not hidden behind the edit/delete
      //buttons of the placeholder
      visibility: hidden;
    }
  }
}

.choice-corespring-dnd-categorize {
  display: inline-block;
  -webkit-user-select: none;

  .delete-after-placing {

    padding-left: 7px;

    .checkbox-input {
      .checkbox-toggle {
        font-size: 17px;

        &:after {
          min-width: initial;
        }
      }
      .label-text {
        font-size: 12px;
      }
    }
  }

  .border {
    background-color: white;
    border-radius: 4px;
    border: solid 1px #979797;
    margin: 3px;
    min-height: 40px;
    padding: 3px;
    position: relative;

    .mini-wiggi-wiz {
      border: none;
      box-shadow: none;
      margin-bottom: 0;
    }

    .remove-choice {
      color: #333333;
      opacity: 0.3;
      position: absolute;
      right: 3px;
      top: 0;

      &:hover {
        opacity: 1.0;
      }
    }

    .edit-controls {
      background: transparent;
      border-radius: 8px;
      padding: 3px 3px 3px 3px;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 10000;

      .edit-icon-button, .delete-icon-button {
        display: inline-block;
        margin-left: 3px;
        margin-right: 3px;

        i {
          font-size: 15px;
          color: #575757;
        }
      }
    }
  }

  &.correct {

    .border {
      .correct-input();

      &:after {
        color: @correct-color;
        content: @correct-character;
        font-family: 'FontAwesome';
        font-size: 17px;
        position: absolute;
        right: 2px;
        top: -2px;
      }
    }
  }

  &.incorrect {
    .border {
      .incorrect-input();

      &:after {
        color: @incorrect-color;
        content: @incorrect-character;
        font-family: 'FontAwesome';
        font-size: 17px;
        position: absolute;
        right: 2px;
        top: -2px;
      }
    }
  }

  &.draggable {
    cursor: pointer;

    &.ui-draggable-dragging {
      cursor: move;
      opacity: 0.75;
      z-index: 1000;

      .edit-controls {
        //display:none messes up the position when dragging
        visibility: hidden;
      }

      .delete-after-placing {
        //display:none messes up the position when dragging
        visibility: hidden;
      }
    }

  }

}

.render-corespring-dnd-categorize {

  .undo-start-over {
    margin-bottom: 15px;
  }

  .feedback {
    .panel-heading {
      cursor: default;
    }
  }

  .component-placeholder {
    min-width: initial;
    padding-right: 22px;
  }

  .see-answer-panel {
    .panel-body {
      padding: 15px 10px;

      .categories-holder {
        padding: 0;
      }
    }
  }

  .container-choices-holder {
    padding: 15px @choices-holder-padding;

    .container-choices {
      background-color: #efefef;
      border-radius: 4px;
      border: solid 2px #9b9b9b;
      margin-bottom: 10px;
      min-height: 40px;
      position: relative;

      .remove-choice {
        display: none;
      }
    }
  }

  .categories-holder {
    padding: 0 @categories-holder-padding;
  }

  .categories {
    width: 100%;

    .row {
      margin: 0;

      .category {
        position: relative;
        vertical-align: bottom;
        display: inline-block;

        &.category-active {
          .categorized.choices {
            background-color: #d8d8d8;
          }
        }

        &.category-hover {
          .border {
            .categorized.choices {
              background-color: white;
              border: dashed 2px #979797;
            }
          }
        }

        .border {
          margin: 3px;
          text-align: center;
          position: relative;

          .label-input {
            margin: 0;
            padding-bottom: 2px;
          }

          .category-label {
            font-weight: normal;
          }

          .edit-controls {
            background: transparent;
            border-radius: 8px;
            padding: 3px 3px 3px 3px;
            position: absolute;
            right: 1px;
            top: 2px;
            z-index: 10000;

            .edit-icon-button, .delete-icon-button {
              display: inline-block;
              margin-left: 3px;
              margin-right: 3px;

              i {
                font-size: 15px;
                color: #575757;
              }
            }
          }

          .categorized.choices {
            border: solid 2px #979797;
            border-radius: 4px;
            min-height: 40px;
            padding: 8px;

            .choice-container {
              min-height: 20px;
              position: relative;
            }
          }
        }
      }
    }
  }
}

.config-corespring-dnd-categorize {

  .rounded-inputs();

  .container-choices {
    .choice-corespring-dnd-categorize {
      &.active {
        .border {
          padding: 0;
        }
      }
    }
  }

  .mini-wiggi-wiz {
    .image-holder {
      .edit-controls {
        display: none;
      }
    }
    .wiggi-wiz-editable {
      padding: 2px!important;
    }
    &.active {
      .image-holder {
        .edit-controls {
          display: initial;
        }
      }
    }
  }

  .wiggi-wiz-toolbar {
    .btn-small {
      padding: 2px 5px;
      font-size: 10px;
    }
  }

  .row {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .player-col {
    width: 630px;
    display: inline-block;
    float: left;
  }

  .settings-col {
    width: 220px;
    padding-left: 20px;
    padding-top: 58px;
    display: inline-block;
    float: left;
  }

  .feedback-row {
    margin-top: 20px;
  }

  .choice-area-row {
    margin-bottom: 20px;
  }

  .answer-area-row {
    select {
      width: auto;
      display: inline-block;
    }

    .answer-area-position-row {
      margin-bottom: 10px;
    }

    .answer-area-category-row {
      .control-label {
        padding: 0;
      }
    }
  }



}

