@correct-color: #3c763d;
@incorrect-color: #EC971F;
@partial-color: #3a87ad;
@warning-color: #a94442;
@learn-more-color: #008bc9;

@warning-character: '\f071';
@correct-character: '\f058';
@incorrect-character: '\f057';
@partial-character: '\f05c';

.correct-input() {
  border: 1px solid @correct-color;
  -moz-box-shadow: 0px 0px 6px 0px #3C763D, inset 0px 1px 0px 0px #ECECEC;
  box-shadow: 0px 0px 6px 0px #3C763D, inset 0px 1px 0px 0px #ECECEC;
}

.incorrect-input() {
  border: 1px solid @incorrect-color;
  -moz-box-shadow: 0px 0px 6px 0px #979797, inset 0px 1px 0px 0px #ECECEC;
  box-shadow: 0px 0px 6px 0px #979797, inset 0px 1px 0px 0px #ECECEC;
}

.partial-input() {
  border: 1px solid @partial-color;
  -moz-box-shadow: 0px 0px 6px 0px #3A87AD, inset 0px 1px 0px 0px #ECECEC;
  box-shadow: 0px 0px 6px 0px #3A87AD, inset 0px 1px 0px 0px #ECECEC;
}

.warning-input() {
  border: 1px solid @warning-color;
  -moz-box-shadow: 0px 0px 6px 0px #CE8483, inset 0px 1px 0px 0px #ECECEC;
  box-shadow: 0px 0px 6px 0px #CE8483, inset 0px 1px 0px 0px #ECECEC;
}

.color-panel(@color) {
  .panel-heading {
    background-color: @color;
    border: 2px solid @color;
  }

  .panel-body {
    border: 3px solid @color;
  }
}
