.view-inline-choice {
    display: inline-block;
}

.view-inline-choice.correct,
.view-inline-choice.incorrect {
    margin-top: 30px;
}

.view-inline-choice .dropdown-toggle {
    display: inline-block;
    padding: 4px 10px 4px;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 18px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #cccccc;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.view-inline-choice.correct .dropdown-toggle {
    border: solid 2px #53C516;
}

.view-inline-choice.incorrect .dropdown-toggle {
    border: solid 2px #F8A31A;
}

.view-inline-choice .correct-label {
    color: #008000;
}

.view-inline-choice td {
    vertical-align: middle;
    padding: 5px;
}

.view-inline-choice select {
    display: inline-block;
}

.view-inline-choice .prompt {
    color: #666666;
    font-style: italic;
}

.view-inline-choice .tooltip {
    opacity: 1;
    display: inline-block;
    position: absolute;
    top: -25px;
    max-width: 400px;
}

.view-inline-choice.correct .tooltip-inner,
.view-inline-choice.incorrect .tooltip-inner {
    background-color: black;
    height: 17px;
    padding-top: 0px;
    border-radius: 2px;
    max-width: 400px;
    white-space: nowrap;
}

.view-inline-choice.incorrect .tooltip-inner {
    background-color: black;
}

.tooltip .caret {
    top: 17px;
    position: absolute;
}

.view-inline-choice .correct-block {
    display: inline-block;
    text-align: center;
}

.view-inline-choice .remove-button {
    position: absolute;
    right: 10px;
    top: 5px;
}

.view-inline-choice .choices-container {
    position: relative;
}

.view-inline-choice .choices-container.tile {
    max-width: 200px;
}

.view-inline-choice .choice-holder.horizontal{
    float:left;
    padding-right: 10px;
}

.view-inline-choice .choice-holder.tile {
    float:left;
    padding-right: 10px;
}

.view-inline-choice .choice table {
    width: 100%;
}

.view-inline-choice .choice {
    background-color: #fff;
    border: 1px solid #888;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 5px;
    position: relative;
}

.view-inline-choice .choice-image {
    max-width: 50px;
    max-height: 50px;
}

.view-inline-choice .feedback {
    position: relative;
}

.view-inline-choice.correct .feedback {
    background: url("/assets/images/correct-icon.png") no-repeat scroll 0px -0px transparent;
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-left: -3px;
}

.view-inline-choice.incorrect .feedback {
    background: url("/assets/images/wrong-icon.png") no-repeat scroll 0px -0px transparent;
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-left: -3px;

}
