.view-inline-choice .correct-label {
    color: #008000;
}

.view-inline-choice td {
    vertical-align: middle;
    padding: 5px;
}

.view-inline-choice select {
    display: inline-block;
}

.view-inline-choice .tooltip {
    opacity: 1;
    display: inline-block;
}

.correct .tooltip-inner {
    background-color: green;
}

.incorrect .tooltip-inner {
    background-color: red;
}

.view-inline-choice .correct-block {
    display: inline-block;
    text-align: center;
}

.view-inline-choice .remove-button {
    position: absolute;
    right: 10px;
    top: 5px;
}

.view-inline-choice .choices-container {
    position: relative;
}

.view-inline-choice .choices-container.tile {
    max-width: 200px;
}

.view-inline-choice .choice-holder.horizontal{
    float:left;
    padding-right: 10px;
}

.view-inline-choice .choice-holder.tile {
    float:left;
    padding-right: 10px;
}

.view-inline-choice .choice {
    background-color: #fff;
    border: 1px solid #888;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 5px;
    position: relative;
}

.view-inline-choice .choice-image {
    max-width: 50px;
    max-height: 50px;
}