@import '../../../../../less/common';

.view-drag-and-drop .choice {
  min-width: 90px;
  border-radius: 4px;
}

.drag-and-drop-inline-config-panel {

  .rounded-inputs;

  .shuffle {
    display: none;
  }

  .choice {
    margin-bottom: 20px;
  }

  .choice-area {
    width: inherit;
    display: inline-block;
  }

  .add-choice {
    margin-bottom: 10px;
  }

  .layout-config {
    margin-bottom: 30px;
  }

  .answer-areas-container, .choices-container {
    margin-bottom: 30px;
  }

}