.modal .choice,
.view-drag-and-drop .choice {
  min-width: 90px;
  min-height: 50px;
}

.drag-and-drop-inline-config-panel {

  .shuffle {
    display: none;
  }

  .choice {
    margin-bottom: 20px;
  }

}