@import '../../../../../less/common';

.corespring-drag-and-drop-inline-drag-helper {
  position: absolute;
  display: inline-block;
  margin: 2px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
}

.modal .choice,
.view-drag-and-drop .choice {
  min-width: 90px;
  border-radius: 4px;
}

.corespring-drag-and-drop-inline-see-solution,
.corespring-drag-and-drop-inline-render {

  .ui-draggable-dragging {
    opacity: 0.75;
  }

  .answer-area-inline {
    display: inline-block;
    border-bottom: 1px solid black;
    min-width: 70px;
    min-height: 30px;
    margin-right: 5px;
    vertical-align: middle;

    .ui-droppable {
      position: relative;
      bottom: 0;
      margin-bottom: 0px;
      min-width: 50px;
      min-height: 30px;
      -webkit-padding-start: 0px;
      -webkit-padding-end: 20px;
    }

    .sortable-choice {
      display: inline-block;
      padding: 2px 5px 2px 5px;
      margin: 2px 5px 2px 2px;
      min-height: 20px;
      min-width: 40px;
      background-color: #eeeeee;
      list-style-type: none;

      .close {
        position: relative;
        top: 3px;
        right: 3px;
        font-size: 14px;
        font-weight: normal;
        margin-left: 0.50em;
      }
    }
  }

  .answer-area-inline-active {
    z-index: 105;
    background: #ccc;
    padding-left: 0.25em;
  }

  .answer-area-inline-hover {
    border: 2px dashed #9b9b9b;
    background: #fff;
    border-radius: 4px;
    z-index: 99;
  }
}

.corespring-drag-and-drop-inline-config {

  .rounded-inputs;

  .mini-wiggi-wiz {
    background-color: white;
  }

  ul.draggable-choices {
    padding: 0;
    list-style-type: none;
  }

  .draggable-choice {
    position: relative;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 5px 0 45px 0;
    max-width: 400px;
    min-height: 47px;
    padding: 1em;
    background: #efefef;

    .blocker {
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      z-index: 10;
      border-radius: 4px;
      user-select: none;

      .bg {
        position: absolute;
        width: 100%;
        height: 100%;
      }

      .content {
        display: inline-flex;
        align-items: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        overflow: visible;

        .edit-controls {
          position: absolute;
          padding: 5px 5px 5px 20px;
          top: 2px;
          right: 2px;

          .edit-icon-button,
          .delete-icon-button {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-left: 5px;
            font-size: 24px;
          }
        }

      }
    }

    .remove-after-placing {
      position: absolute;
      bottom: -35px;
    }
  }

  .add-choice {
    //don't remove
    //used to identify the button for ui testing
  }

  .add-choice-row {
    margin-bottom: 30px;
  }

  .shuffle-choices-row {
    margin-bottom: 10px;
  }

  .layout-config {
    margin-bottom: 30px;
  }

  .choices-and-answers {
    margin-bottom: 30px;
  }

  .answer-area-inline {
    position: relative;
    display: inline-block;
    margin: 2px;
    width: auto;
    height: auto;
    min-width: 50px;
    min-height: 20px;
    border: 3px dashed #ccc;
    border-radius: 10px;

    ul {
      margin-bottom: 0;
    }

    .sorted-choices {
      padding: 5px 10px;
      min-height: 20px;

      .prompt {
        padding-bottom: 0;
      }

      .sortable-choice {
        position: relative;
        display: inline-block;
        margin: 2px;
        padding: 5px 20px 5px 5px;
        border: 1px solid #ccc;
        border-radius: 4px;

        .delete-icon {
          position: absolute;
          top: 0;
          right: 2px;
        }
      }
    }
  }

  .answer-area-help-text {
    color: #999;
    font-style: italic;
  }

  .choice-area-position {
    display: inline-block;
    width: auto;
  }

}