@import '../../../../../less/common';

@component-width: 600px;

@correct-color: #3C763D;
@incorrect-color: #EEA236;
@partial-color: #3A87AD;

.set-toggle-size(@size) {
  font-size: @size;

  &:after {
    min-width: @size;
  }
  &.checked:after {
    min-width: @size;
  }
}

.component-placeholder {
  .render-corespring-match {
    //the component takes the full width of the player
    width: @component-width;
    max-width: @component-width;
    margin-bottom: 0;
    padding-top: 0;

    .undo-start-over {
      //hide, but block the space, so that the
      //content is not hidden behind the edit/delete
      //buttons of the placeholder
      visibility: hidden;
    }
  }
}

.render-corespring-match {
  color: #000000;
  padding-top: 14px;
  margin-bottom: 20px;

  .undo-start-over {
    margin-bottom: 5px;
  }

  table {
    margin: 0;
    border: solid 1px #cccccc;

    &.three-columns {
      td,th {
        max-width: 100px;
      }
    }

    &.four-columns {
      td,th {
        max-width: 80px;
      }
    }

    &.five-columns {
      td,th {
        max-width: 60px;
      }
    }

    tr {
      border-bottom: solid 2px #cccccc;

      th {
        border: none;
        text-align: center;
        background: white;
        color: black;
        vertical-align: bottom;

        &:first-of-type {
          width: 100%;
          text-align: left;
        }
      }
      td {
        border: none;
        line-height: 2em;
        vertical-align: middle;
        text-align: center;

        &:first-of-type {
          width: 100%;
          text-align: left;
        }
      }
    }
  }

  td.question-cell {
    table {
      border: none;
      width: 100%;
      tr,th,td {
        border: none;
      }
      .question-label {
        width:100%;
      }
      .answer-expected-warning {
        color: @warning-color;
        font-size: 22px;
        width:28px;
        min-width: 28px;
      }
    }
  }

  .correct-indicator {
    font-family: FontAwesome;
    font-size: 22px;
    color: @correct-color;
  }

  .see-answer-panel {
    margin-top: 20px;
  }

  .feedback.panel {
    margin-top: 10px;

    .panel-heading {
      cursor: default;
    }
  }

  .feedback {
    &.all_correct {
      .color-panel(@correct-color);
    }
    &.all_incorrect {
      .color-panel(@incorrect-color);
    }
    &.some_correct {
      .color-panel(@partial-color);
    }
    &.warning {
      .panel-heading {
        display: none;
      }
      .panel-body {
        color: @warning-color;
        background-color: lighten(@warning-color, 40%);
        border: 1px solid lighten(@warning-color, 30%);
        border-radius: 4px;
      }
    }

  }

  .noAnswer {
    .radio-input {
      .radio-toggle:after {
        text-shadow:  0px 0px 5px @warning-color;
      }
    }
    .checkbox-input {
      .warning-input();
    }
  }

  .editable {
    .radio-input,
    .checkbox-input {
      cursor: pointer;
    }
  }

  .radio-input {
    @disabled-color: #cccccc;
    position: relative;
    display: inline-block;

    .radio-toggle {
      .set-toggle-size(22px);
      position: relative;
      vertical-align: middle;
      display: inline-block;
      font-family: FontAwesome;

      &:after {
        display: inline-block;
        content: "\f1db";
      }

      &.checked:after {
        content: "\f111";
      }

      &.disabled:after {
        color: @disabled-color;
      }
    }

    .label-text {
      display: inline-block;
      vertical-align: middle;

      &.disabled {
        color: @disabled-color;
      }
    }

    &.correct {
      color: @correct-color;

      .radio-toggle {
        .set-toggle-size(22px);

        &.disabled:after {
          color: @correct-color;
        }
        &.checked:after {
          content: @correct-character;
        }
        &:after {
          content: @correct-character;
        }
      }
    }

    &.incorrect {
      color: @incorrect-color;

      .radio-toggle {
        &.disabled:after {
          color: @incorrect-color;
        }
        &.checked:after {
          content: @incorrect-character;
        }
      }
    }
  }

  .checkbox-input {
    @disabled-color: #cccccc;
    position: relative;

    .checkbox-toggle {
      .set-toggle-size(22px);
      position: relative;
      vertical-align: middle;
      display: inline-block;
      font-family: FontAwesome;

      &:after {
        display: inline-block;
        content: "\f096";
      }

      &.checked:after {
        content: "\f14a";
      }

      &.disabled:after {
        color: @disabled-color;
      }
    }

    .label-text {
      display: inline-block;
      vertical-align: middle;

      &.disabled {
        color: @disabled-color;
      }
    }

    &.correct {
      color: @correct-color;

      .checkbox-toggle {
        .set-toggle-size(22px);
        &:after {
          content: "\f14a";
        }
        &.checked:after {
          content: "\f14a";
        }
        &.disabled:after {
          color: @correct-color;
        }
      }
    }

    &.incorrect {
      color: @incorrect-color;

      .checkbox-toggle {
        &:after {
          display: inline-block;
          content: "\f00d";
        }
        &.disabled:after {
          color: @incorrect-color;
        }
      }
    }

  }

  td {
    vertical-align: top;
  }

}

.config-corespring-match {

  .inline-help {
    font-style: italic;
    color: #999999;
  }

  .row {
    &.option {
      margin-top: 10px;

      &.input-type {
        .inline-help {
          margin-top: 5px;
        }
      }
    }
  }
}