@import '../../../../../less/common';

@learn-more-color: #008bc9;
@correct-color: #3C763D;
@incorrect-color: #EEA236;
@partial-color: #3A87AD;
@learn-more-color: #3A87AD;
@see-correct-color: #3C763D;

.set-toggle-size(@size) {
  font-size: @size;

  &:after {
    min-width: @size;
  }
  &.checked:after {
    min-width: @size;
  }
}

.render-corespring-match {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000000;
  padding-top: 14px;
  margin-bottom: 20px;

  table {
    margin: 0;

    tr {
      td {
        line-height: 2em;
        vertical-align: middle;
      }
    }
  }

  .correct-indicator {
    font-family: FontAwesome;
    font-size: 40px;
    color: @correct-color;
  }

  .see-solution {
    margin-top: 20px;
  }

  .summary-feedback,
  .feedback {
    border-color: @learn-more-color;
    border-width: 2px;
    float: none;

    .panel-heading {
      background-color: @learn-more-color;
      padding: 3px 15px;

      .toggle {
        display: inline-block;
        font-family: FontAwesome;
        font-size: 30px;
        color: white;
        font-weight: normal
      }
      .label {
        font-size: 16px;
        color: white;
        font-weight: normal
      }
    }
  }

  .feedback {
    .panel-heading {
      height: 45px;
    }
  }

  .summary-feedback {
    .panel-heading {
      cursor: pointer;
    }
  }

  .feedback {
    &.all_correct {
      border-color: @correct-color;
      .panel-heading {
        background-color: @correct-color;
      }
    }
    &.all_incorrect {
      border-color: @incorrect-color;
      .panel-heading {
        background-color: @incorrect-color;
      }
    }
    &.some_correct {
      border-color: @partial-color;
      .panel-heading {
        background-color: @partial-color;
      }
    }
  }

  .radio-input {
    @disabled-color: #cccccc;
    position: relative;
    cursor: pointer;

    .radio-toggle {
      .set-toggle-size(22px);
      position: relative;
      vertical-align: middle;
      display: inline-block;
      font-family: FontAwesome;

      &:after {
        display: inline-block;
        content: "\f1db";
      }

      &.checked:after {
        content: "\f111";
      }

      &.disabled:after {
        color: @disabled-color;
      }
    }

    .label-text {
      display: inline-block;
      vertical-align: middle;

      &.disabled {
        color: @disabled-color;
      }
    }

    &.correct {
      color: @correct-color;
      cursor: default;

      .radio-toggle {
        .set-toggle-size(40px);

        &.disabled:after {
          color: @correct-color;
        }
        &.checked:after {
          content: @correct-character;
        }
        &:after {
          content: @correct-character;
        }
      }
    }

    &.incorrect {
      color: @incorrect-color;
      cursor: default;

      .radio-toggle {
        &.disabled:after {
          color: @incorrect-color;
        }
        &.checked:after {
          content: @incorrect-character;
        }
      }
    }

    &.unknown {
      cursor: default;
    }
  }

  .checkbox-input {
    @disabled-color: #cccccc;
    position: relative;
    cursor: pointer;

    .checkbox-toggle {
      .set-toggle-size(22px);
      position: relative;
      vertical-align: middle;
      display: inline-block;
      font-family: FontAwesome;

      &:after {
        display: inline-block;
        content: "\f096";
      }

      &.checked:after {
        content: "\f14a";
      }

      &.disabled:after {
        color: @disabled-color;
      }
    }

    .label-text {
      display: inline-block;
      vertical-align: middle;

      &.disabled {
        color: @disabled-color;
      }
    }

    &.correct {
      color: @correct-color;
      cursor: default;

      .checkbox-toggle {
        .set-toggle-size(40px);
        &:after {
          content: "\f14a";
        }
        &.checked:after {
          content: "\f14a";
        }
        &.disabled:after {
          color: @correct-color;
        }
      }
    }

    &.incorrect {
      color: @incorrect-color;
      cursor: default;

      .checkbox-toggle {
        &:after {
          display: inline-block;
          content: "\f00d";
        }
        &.disabled:after {
          color: @incorrect-color;
        }
      }
    }

    &.unknown {
      cursor: default;
    }
  }

  td {
    vertical-align: top;
  }

}

.config-corespring-match {
}