@import '../../../../../less/common';

.component-placeholder.corespring-text-entry {
  display: inline-block;
  max-width: 200px;
  margin-right: 10px;
}

.cs-text-entry {
  display: inline-block;
  position: relative;
  margin: 0 8px 0 3px;
  vertical-align: middle;

  .feedback {
    position: absolute;
  }
  .tooltip {
    opacity: 1;
    display: inline-block;
    position: absolute;
    top: -72px;
    left: 5px;
    max-width: 400px;
    .caret {
      top: 17px;
      position: absolute;
    }
  }
  .tooltip-inner {
    background-color: black;
    height: 17px;
    padding-top: 0px;
    border-radius: 2px;
    max-width: 400px;
    white-space: nowrap;
  }

  &.popupFeedback {
    .cs-text-entry__text-input-holder {
      &.warning, &.correct, &.incorrect, &.partial {
        cursor: pointer;
      }
      .form-control[disabled], .form-control[readonly] {
        cursor: pointer;
      }
    }
  }
}

.cs-text-entry__text-input-holder {
  position: relative;
  &.warning, &.correct, &.incorrect, &.partial {
    margin-right: 30px;
  }
  .popover {
    visibility: hidden;
    width: 200px;
  }
  .result-icon {
    position: absolute;
    right: -25px;
    top: 0px;
  }
  .result-icon.warning {
    right: -30px;
  }
  input {
    padding: 4px 6px;
  }
  input.partial {
    .partial-input();
  }
  input.correct {
    .correct-input();
  }
  input.incorrect {
    .incorrect-input();
  }
  input.warning {
    .warning-input();
  }
  i.fa {
    margin: 0;
    font-size: 25px;
    line-height: 31px !important;
    color: @incorrect-color;
  }
  i.fa.correct {
    color: @correct-color;
  }
  i.fa.partial {
    color: @partial-color;
  }
  i.fa.warning {
    color: @warning-color;
  }
  i.fa.incorrect:before {
    content: @incorrect-character;
  }
  i.fa.correct:before {
    content: @correct-character;
  }
  i.fa.partial:before {
    content: @partial-character;
  }
  i.fa.warning:before {
    content: @warning-character;
  }
}

.cs-text-entry__text-input-holder.incorrect .popover,
.cs-text-entry__text-input-holder.correct .popover,
.cs-text-entry__text-input-holder.warning .popover,
.cs-text-entry__text-input-holder.partial .popover {
  visibility: visible;
}

.cs-text-entry__text-input-holder.partial {
  .popover-title {
    background: #D9EDF7;
    color: #3A87AD;
  }
}

.cs-text-entry__text-input-holder.correct {
  .popover-title {
    background: #DFF0D8;
    color: #3c763d;
  }
}

.cs-text-entry__text-input-holder.incorrect {
  .popover-title {
    background: #FCF8E3;
    color: #C09853;
  }
}

.cs-text-entry__text-input-holder.warning {
  .popover-title {
    background: #FCF8E3;
    color: #C09853;
  }
}

.cs-text-entry-cfg {
  .well {
    padding: 8px;
  }
  .info {
    margin-bottom: 20px;
  }
  .info.field-info {
    margin-bottom: 0;
  }
  .checkbox-inline {
    padding-left: 50px;
  }
  .main-header {
    padding: 10px 10px 0px 10px;
  }
  .answer-blank-size-input {
    margin: 0 0 10px 10px;
  }
}

.cs-text-entry-cfg__award-config {
  padding-bottom: 15px;
}

.cs-text-entry-cfg__number-input {
  width: 60px;
  text-align: right;
  padding-right: 10px;
}

.cs-text-entry-cfg__answers-holder {
  padding-bottom: 10px;
}

.cs-text-entry-cfg__responses-input--dropdown-noshow {
  display: none !important;
}
