.view-text-entry {
    display: inline-block;
    margin: 0 8px 0 3px;
}

.view-text-entry .text-input {
    width: auto;
}

.view-text-entry .correct {
    border-color: #53C516;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 4px rgba(161, 225, 23, 0.8);
    outline: 0px none;
}

.view-text-entry .incorrect {
    border-color: #F8A31A;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 4px rgba(248, 163, 26, 0.8);
    outline: 0px none;
}


/* Config Panel */
.config-text-entry .well{
  padding: 8px;
}

.config-text-entry .feedback-input-holder.open {

}

.config-text-entry .feedback-input-holder.closed {
  margin-bottom: 10px;
}

.config-text-entry .award-config{
  padding-bottom: 15px;
}

.config-text-entry .main-header {
  padding: 10px 10px 0px 10px;
}

.config-text-entry .number-input {
  width: 60px;
  text-align: right;
  padding-right: 10px;
}

.config-text-entry .correct-holder {
  padding-bottom: 10px;
}

.config-text-entry .partially-correct-holder {
  padding-bottom: 10px;
}