
.corespring-text-entry {
  .component-placeholder {
    display: inline-block;
    max-width: 200px;
    margin-right: 10px;
  }
}

.cs-text-entry__response {
  border: 1px solid lightgrey;
  border-radius: 4px;
  padding: 3px;
  margin-bottom: 3px;
  display: inline-block;
}

.cs-text-entry-wrapper {
  position: relative;

  &.with-feedback {
    margin-right: 30px;
  }

  .instructor-response {
    .cs-icon {
      width: 32px;
      height: 32px;
      right: -26px;
      cursor: pointer;
    }
  }

  .cs-icon {
    position: absolute;
    right: -30px;
    top: -6px;
    width: 38px;
  }

  .cs-text-entry {
    display: inline-block;
    position: relative;
    margin: 0 8px 0 3px;
    vertical-align: middle;

    input[type=text] {
      border: 1px solid #cbcbcb;
      box-shadow: none;

      &.filled-in {
        background-color: #eef8fc;
        color: #544d98;
      }

      &.submitted {
        border-color: #cccbcb;
        background-color: #f8f6f6;
        color: #93939e;

        &.warning {
          border-color: @warning-background;
        }
      }
    }

    .feedback {
      position: absolute;
    }

    .tooltip {
      opacity: 1;
      display: inline-block;
      position: absolute;
      top: -72px;
      left: 5px;
      max-width: 400px;
      .caret {
        top: 17px;
        position: absolute;
      }
    }

    .tooltip-inner {
      background-color: black;
      height: 17px;
      padding-top: 0px;
      border-radius: 2px;
      max-width: 400px;
      white-space: nowrap;
    }

    &.popupFeedback {
      .cs-text-entry__text-input-holder {
        &.warning, &.correct, &.incorrect, &.partial {
          cursor: pointer;
        }

        .form-control[disabled], .form-control[readonly] {
          cursor: pointer;
        }
      }
    }
  }

}

.cs-text-entry__text-input-holder {
  position: relative;

  .popover {
    visibility: hidden;
    width: 200px;
  }

  input {
    padding: 4px 6px;
  }

  input.partial {
    .partial-input();
  }

  input.correct {
    .correct-input();
  }

  input.incorrect {
    .incorrect-input();
  }

  .cs-icon {
    height: 38px;
    width: 38px;
    display: inline-block;
    position: absolute;
    top: -6px;
    right: -30px;
  }

}

.cs-text-entry__text-input-holder.incorrect .popover,
.cs-text-entry__text-input-holder.correct .popover,
.cs-text-entry__text-input-holder.warning .popover,
.cs-text-entry__text-input-holder.partial .popover {
  visibility: visible;
}

.config-text-entry {

  .rounded-inputs;

  .row {
    &.correct-answers {
      margin-top: 15px;
    }
    &.partially-correct-answers {
      margin-top: 25px;
    }
    &.award-row {
      margin-top: 14px;
      margin-bottom: 20px;

      .award-percent {
        width: auto;
      }
    }
  }

  .response-input {

    .form-control {
      padding: 0 0 0 0;
      height: auto;
    }

    //Overwrite position:relative bc. that displaces the input field
    .ui-select-container {
      display: inline-block;
      &.dropdown {
        position: inherit;
      }
      &.open {
        border-color: rgba(82, 168, 236, 0.8);
      }
    }

    .ui-select-match-item {
      padding: 3px 5px 3px 18px;
      margin: 3px 0 3px 5px;
      position: relative;

      color: #333;
      font-size: 14px;
      cursor: default;
      border: 1px solid #aaaaaa;

      border-radius: 3px;

      -webkit-box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
      box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);

      background-clip: padding-box;

      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      background-color: #e4e4e4;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#f4f4f4', GradientType=0);
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eee));
      background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
      background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
      background-image: linear-gradient(to top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
    }

    .ui-select-match-close {
      position: absolute;
      left: 0;
      font-size: 15px;
      font-weight: 900;
      float: left;
      padding-right: 5px;
      opacity: 0.5;
    }

    .ui-select-match-close:hover, .ui-select-match-close:focus {
      opacity: 1;
    }


    input[type=text] {
      margin-bottom: 0;
      border: 0 none;
      box-shadow: none !important;
    }

  }

  .ignore-row {
    @vertical-margin: 10px;
    margin-top: @vertical-margin;
    margin-bottom: @vertical-margin;
  }

  .text-field-size-row {
    .label-text {
      width: 90%;
    }

    input[type=text] {
      width: auto;
    }
  }

  .align-row {
    margin-top: 20px;
    margin-bottom: 40px;

    select {
      display: inline-block;
      width: auto;
      margin-left: 5px;
    }
  }

  .radio-inline + .radio-inline {
    margin-left: 0;
  }

  .answer-options {
    .checkbox-input {
      display: inline-block;
      margin-right: 40px;
    }
  }

}

.teacher-view .cs-text-entry-wrapper .cs-text-entry {
  input[type=text].submitted {
    border-color: @correct-background;
    color: @correct-background;
    background-color: #ffffff;
  }
}