/** editor placeholder */
.component-placeholder.corespring-text-entry {
  display: inline-block;
  max-width: 200px;
  margin-right: 10px;
}

.cs-text-entry {
  display: inline-block;
  position: relative;
  margin: 0 8px 0 3px;
}

.cs-text-entry__text-input {
  width: 71px;
}

.cs-text-entry__text-input-holder .correct {
  border-color: #53C516;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 4px rgba(161, 225, 23, 0.8);
  outline: 0 none;
}

.cs-text-entry__text-input-holder .partial {
  border-color: #843ABC;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 4px rgba(132, 58, 188, 0.8);
  outline: 0 none;
}

.cs-text-entry__text-input-holder .incorrect {
  border-color: #F8A31A;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 4px rgba(248, 163, 26, 0.8);
  outline: 0 none;
}

.cs-text-entry .feedback {
  position: absolute;
}

.cs-text-entry .tooltip {
  opacity: 1;
  display: inline-block;
  position: absolute;
  top: -72px;
  left: 5px;
  max-width: 400px;
}

.cs-text-entry .tooltip-inner {
  background-color: black;
  height: 17px;
  padding-top: 0px;
  border-radius: 2px;
  max-width: 400px;
  white-space: nowrap;
}

.cs-text-entry .tooltip .caret {
  top: 17px;
  position: absolute;
}

/* Config Panel */
.cs-text-entry-cfg .well {
  padding: 8px;
}

.cs-text-entry-cfg .info {
  margin-bottom: 20px;
}

.cs-text-entry-cfg .info.field-info {
  margin-bottom: 0;
}

.cs-text-entry-cfg .checkbox-inline {
  padding-left: 50px;
}

.cs-text-entry-cfg .main-header {
  padding: 10px 10px 0px 10px;
}

.cs-text-entry-cfg__award-config {
  padding-bottom: 15px;
}

.cs-text-entry-cfg__number-input {
  width: 60px;
  text-align: right;
  padding-right: 10px;
}

.cs-text-entry-cfg__answers-holder {
  padding-bottom: 10px;
}

/* suppress the dropdown of the answer inputs which are select2 components */
.cs-text-entry-cfg__responses-input--dropdown-noshow {
  display: none !important;
}

.cs-text-entry-cfg .answer-blank-size-input {
  margin: 0 0 10px 10px;
}