@import '../../../../../less/common';

@icon-width: 42px;
@icon-height: 41px;

.style-element(@idx) {
  display: inline-block;
  width: @icon-width;
  height: @icon-height;
  background: url('/client/public/corespring/number-line/elements-sprite.png') (-@idx * @icon-width) 0px;
  cursor: pointer;

  &.active, &.active:hover {
    background-position: (-@idx * @icon-width) (-2 * @icon-height)
  }

  &:hover {
    text-decoration: none;
    background-position: (-@idx * @icon-width) (-@icon-height)
  }
}

.element-selector-template() {
  white-space: nowrap;
  span.element-pf a {
    .style-element(0);
  }

  span.element-pe a {
    .style-element(9);
    width: 40px;
  }

  span.element-lff a {
    .style-element(1);
  }

  span.element-lef a {
    .style-element(2);
  }

  span.element-lfe a {
    .style-element(3);
  }

  span.element-lee a {
    .style-element(4);
  }

  span.element-rfn a {
    .style-element(5);
  }

  span.element-rfp a {
    .style-element(6);
  }

  span.element-ren a {
    .style-element(7);
  }

  span.element-rep a {
    .style-element(8);
  }

  .bin-icon {
    vertical-align: -90%;
    padding: 10px;
  }

  .bin-icon:hover {
    color: #aaa;
    cursor: pointer;
  }
}

.view-number-line {

  .undo-button-row {
    float: right;
  }

  div.element-selector {
    .element-selector-template();
  }

  .correct-element {
    color: @correct-color;
  }

  .incorrect-element {
    color: @incorrect-color;
  }

}

.config-number-line {

  margin-left: 17px;

  .interactive-graph {
    max-width: 530px;
  }

  .tick-label-override-input-holder {
    position: relative;
    .tick-label-override-input {
      position: absolute;
      top: -44px;
      width: 50px;
    }
  }

  .sample-description {
    text-align: center;
  }

  .undo-button-row {
    float: right;
  }

  .allowed-elements {
    td {
      border: none;
      vertical-align: top;
      line-height: 22px;
    }
  }

  .collapsable-panel,
  .correct-response-panel {
    width: 600px;

    .panel-heading h4 {
      font-size: 16px;
    }
  }

  div.element-selector {
    .element-selector-template();
  }

  .display-panel .element-selector {
    margin-bottom: 20px;
  }

  .attributes-table {
    margin: 0;
    line-height: 40px;
    input {
      max-width: 70px;
      display: inline-block;
    }

    td {
      border: none;
    }
  }
}
