@import '../../../../../less/common';

@icon-width: 42px;
@icon-height: 41px;

.style-element(@idx) {
  display: inline-block;
  width: @icon-width;
  height: @icon-height;
  background: data-uri('../../public/elements-sprite.png') (-@idx * @icon-width) 0px;
  cursor: pointer;

  &.solution {
    background-position: (-@idx * @icon-width) (-3 * @icon-height)
  }

  &.active, &.active:hover {
    background-position: (-@idx * @icon-width) (-2 * @icon-height)
  }

  &:hover {
    text-decoration: none;
    background-position: (-@idx * @icon-width) (-@icon-height)
  }
}

.element-selector-template() {
  white-space: nowrap;

  .element-container {
    display: inline;
  }

  span.element-pf a {
    .style-element(0);
  }

  span.element-pe a {
    .style-element(9);
    width: 40px;
  }

  span.element-lff a {
    .style-element(1);
  }

  span.element-lef a {
    .style-element(2);
  }

  span.element-lfe a {
    .style-element(3);
  }

  span.element-lee a {
    .style-element(4);
  }

  span.element-rfn a {
    .style-element(5);
  }

  span.element-rfp a {
    .style-element(6);
  }

  span.element-ren a {
    .style-element(7);
  }

  span.element-rep a {
    .style-element(8);
  }

  .bin-icon {
    vertical-align: -90%;
    padding: 10px;
  }

  .bin-icon:hover {
    color: #aaa;
    cursor: pointer;
  }
}

.view-number-line {

  .undo-button-row {
    float: right;
  }

  div.element-selector {
    .element-selector-template();
    margin-left: 10px;
  }

  .no-response {
    border: 2px solid @warning-color-border;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
    width: 90%;
    padding-left: 10px;

    i {
      margin-top: 30px;
      color: @warning-color;
      font-size: 30px;
    }
  }

  .correct-element {
    color: @correct-color;
  }

  .incorrect-element {
    color: @incorrect-color;
  }

  .feedback {
    &.panel {
      &.warning {
        .panel-heading {
          display: none;
        }

        .panel-body {
          border-radius: 4px;
          padding: 15px;
          background-color: @warning-color-background;
          border-color: @warning-color-border;
          color: @warning-color;
        }
      }
    }
  }


}

.config-number-line {

  .reset-defaults {
    margin: 15px 0;
  }

  .interactive-graph {
    width: 540px;
    max-width: 540px;
    margin: auto;
  }

  .tick-label-override-input-holder {
    position: relative;
    .tick-label-override-input {
      position: absolute;
      top: -44px;
      width: 50px;
    }
  }

  .sample-description {
    text-align: center;
    font-style: italic;
  }

  .undo-button-row {
    float: right;
  }

  .allowed-elements {
    td {
      border: none;
      vertical-align: top;
      line-height: 22px;
    }
  }

  .centered-graph-holder {
    width: 540px;
    text-align: center;
    margin: 0 auto;

    .centered-graph {
      display: inline-block;
    }
  }

  .feedback-panel-header {
    margin-right: 15px;
  }

  .collapsable-panel,
  .correct-response-panel {
    margin-right: 15px;
    .panel-heading h4 {
      font-size: 16px;
    }
  }

  .exhibit-panel {
    margin-top: 20px;
  }

  div.element-selector {
    .element-selector-template();
  }

  .display-panel .element-selector {
    margin-bottom: 20px;
  }

  .row {
    margin: 10px -15px;

    &.domain-row {
      margin-bottom: 20px;
    }
  }

  .form-control {
    width: 70px;
    display: inline-block;
  }

}
