@import '../../../../../less/common';

.style-element(@x) {
  display: inline-block;
  width: 55px;
  height: 45px;
  background: url('/client/public/corespring/number-line/elements-sprite.png') @x 0px;
  cursor: pointer;

  &.active, &.active:hover {
    background-position: @x -91px;
  }

  &:hover {
    text-decoration: none;
    background-position: @x -45px;
  }

}

.view-number-line {

  div.element-selector {
    white-space: nowrap;
    span.element-pf a {
      .style-element(0px);
    }

    span.element-lff a {
      .style-element(-60px);
    }

    span.element-lef a {
      .style-element(-120px);
    }

    span.element-lfe a {
      .style-element(-180px);
    }

    span.element-lee a {
      .style-element(-243px);
    }

    span.element-rfn a {
      .style-element(-304px);
    }

    span.element-rfp a {
      .style-element(-363px);
    }

    span.element-ren a {
      .style-element(-426px);
    }

    span.element-rep a {
      .style-element(-485px);
    }

    .bin-icon {
      vertical-align: -90%;
      padding: 10px;
    }

    .bin-icon:hover {
      color: #aaa;
      cursor: pointer;
    }
  }

  .panel.feedback-panel {
    max-width: 550px;
    border-width: 3px;
    .panel-heading {
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      height: 30px;
    }
    .panel-body {
      padding: 10px 20px;
    }
    &.incorrect {
      border-color: @incorrect-color;
      .panel-heading {
        background-color: @incorrect-color;
      }
    }
    &.correct {
      border-color: @correct-color;
      .panel-heading {
        background-color: @correct-color;
      }
    }
  }

  .correct-element {
    color: @correct-color;
  }

  .incorrect-element {
    color: @incorrect-color;
  }

}
