@component-width: 600px;

.corespring-extended-text-entry {

  &.view-extended-text-entry {
    width: 100%;
    max-width: @component-width;

    .textarea-holder {
      display: 'inline-block';
      position: relative;
      width: 100%;
    }
  .textarea-holder {
    position: relative;
    width: 100%;

    &.filled-in {
      .wiggi-wiz {
        border-color: #a4d4f1;
      }
    }
  }

    .wiggi-wiz {
      margin-bottom: 20px;
      min-height: 100px;
    }
  .wiggi-wiz {
    margin-bottom: 20px;
    min-height: 100px;
    border: 1px solid #bebebe;

    &.disabled {
      background-color: #f8f6f6;
      color: #939393;
      border: none;
    }

    .placeholder {
      color: #bebebe;
      padding: 10px;
    }

  }

  .wiggi-wiz-toolbar {
    background-color: #e0dee0;

    .btn {
      padding: 0px 7px;

      &:not(.active) {
        border: none;
        background: none;
      }
    }

    .btn-group {
      margin-right: 0;
    }
  }

  .wiggi-wiz-editable {
    padding: 12px;
    overflow: hidden;
  }

    &.received.incorrect .wiggi-wiz {
      border: 2px solid @warning-color-border;
      box-shadow: none;
    }

    .warning-icon {
      display: none;
    }

    .panel.submitted {
      width: 100%;
      margin-top: 20px;
    }

    &.received.incorrect .warning-icon {
      color: @warning-color;
      display: block;
      font-size: 28px;
      position: absolute;
      right: 10px;
      top: 10px;
    }

    .feedback {
      background-color: #d9edf7;
      border-radius: 4px;
      border: 1px solid #bce8f1;
      color: #31708f;
      padding: 15px;
      position: relative;
      width: 100%;
    }

    .no-feedback {
      background-color: @warning-color-background;
      border-radius: 4px;
      border: 1px solid @warning-color-border;
      color: @warning-color;
      padding: 15px;
      position: relative;
      width: 100%;
    }

  }

  /* Config Panel */

  &.config-extended-text-entry {
    padding: 0 15px 15px 15px;

    .narrow-form-label {
      text-align: left;
      width: 110px;
    }

    span.help {
      font-style: italic;
      font-size: 90%;
    }

    p.adjust {
      margin-bottom: 0px;
    }
  }

  /* Wiggi style */
  .wiggi-wiz {
    .mathinput-holder {
      display: inline-block;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      transition: background-color 200ms;
      border-radius: 3px;
    }
    &.disabled {
      .math-input .input .mq {
        border: none;
      }
      .mathinput-holder {
        &:hover {
          background-color: inherit;
        }
        pointer-events: none;
      }
    }
    .mathquill-rendered-math {
      font-family: inherit;
    }
    .math-sum {
      font-family: serif;
      font-weight: bold;

      &:before {
        content: "\2211";
      }
    }
  }
}

.teacher-view {
  .view-extended-text-entry {
    .wiggi-wiz.disabled {
      background-color: transparent;
    }
  }
}