.view-extended-text-entry {
    width: 100%;
}

.view-extended-text-entry textarea {
    display: block;
    margin: 0 0 10px;
    border: 1px solid #797979;
    -moz-box-shadow: inset 0 0 8px #d1d1d1;
    -webkit-box-shadow: inset 0 0 8px #d1d1d1;
    box-shadow: inset 0 0 8px #d1d1d1;
    padding: 7px;
    text-align: left;
    font: 14px 'Ubuntu', Arial, Helvetica, sans-serif;
    color: #333;
    resize: none;
    max-width: 95%;
    border-radius: 4px;
}

.view-extended-text-entry textarea[disabled] {
    cursor: not-allowed;
    background-color: #eeeeee;
}

.view-extended-text-entry.received textarea {
    border: 1px solid #3A87AD;
    -moz-box-shadow: 0px 0px 6px 0px #3A87AD, inset 0px 1px 0px 0px #ECECEC;
    box-shadow: 0px 0px 6px 0px #3A87AD, inset 0px 1px 0px 0px #ECECEC;
}

.view-extended-text-entry.received.incorrect textarea {
    border: 1px solid #A94442;
    -moz-box-shadow: 0px 0px 6px 0px #CE8483, inset 0px 1px 0px 0px #ECECEC;
    box-shadow: 0px 0px 6px 0px #CE8483, inset 0px 1px 0px 0px #ECECEC;
}

.view-extended-text-entry .feedback {
    color: #31708f;
    background-color: #d9edf7;
    border-radius: 4px;
    width: 95%;
    padding: 15px;
    border: 1px solid #bce8f1;
}

/* Config Panel */

.extended-text-entry-configuration .narrow-form-label {
    text-align: left;
    width: 110px;
}