@component-width: 600px;

.view-extended-text-entry {
  width: 100%;
  max-width: @component-width;

  .textarea-holder {
    position: relative;
    width: 100%;
  }

  .wiggi-wiz {
    margin-bottom: 20px;
    min-height: 100px;
    display: inline-block;
  }

  &.received.incorrect .wiggi-wiz {
    border: 2px solid @warning-color-border;
    box-shadow: none;
  }

  .warning-icon {
    display: none;
  }

  &.received.incorrect .warning-icon {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    color: @warning-color;
  }

  .feedback {
    color: #31708f;
    background-color: #d9edf7;
    border-radius: 4px;
    padding: 15px;
    border: 1px solid #bce8f1;
    position: relative;
    width: 100%;
  }

  .no-feedback {
    background-color: @warning-color-background;
    border: 1px solid @warning-color-border;
    color: @warning-color;
    border-radius: 4px;
    padding: 15px;
    position: relative;
    width: 100%;
  }

}

/* Config Panel */

.extended-text-entry-configuration {
  padding: 0 15px 15px 15px;

  .narrow-form-label {
    text-align: left;
    width: 110px;
  }
}

/* Wiggi style */
.wiggi-wiz {
  .mathinput-holder {
    display: inline-block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: background-color 200ms;
    border-radius: 3px;
  }
  &.disabled {
    .math-input .input .mq {
      border: none;
    }
    .mathinput-holder {
      &:hover {
        background-color: inherit;
      }
      pointer-events: none;
    }
  }
  .mathquill-rendered-math {
    font-family: inherit;
  }
  .math-sum {
    font-family: serif;
    font-weight: bold;

    &:before {
      content: "\2211";
    }
  }
}
