.focus-container {
    width: 560px;
    height: auto;
    background-color: #000;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    border-radius: 4px;
    width: 560px;
    height: auto;
    background: url("/assets/images/header-dark-grey-br-1.png") repeat scroll center top transparent;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    padding: 10px 0px;
    -moz-box-shadow:inset -1px 1px 10px #000000;
    -webkit-box-shadow:inset -1px 1px 10px #000000;
    box-shadow:inset -1px 1px 10px #000000;
}


.focus-row {
    padding: 10px 0;
}

.focus-container .focus-row .inner {
    display: table;
    margin: 0 auto;
    height: auto;
}

.focus-container .focus-row .inner .focus-element {
    width: 82px;
    padding:4px;
    color: #fff;
    background: #808080;
    border: 2px solid #BFBFBF;
    float: left;

    margin:5px;

    text-align: center;
    font-family: "Ubuntu", Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 1);
    max-width: 94px

}


.focus-container .focus-row .inner .focus-element span {
    display:table-cell;
    vertical-align: middle;
    height: 72px;
    width:82px;

}

.focus-element.square {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    height:auto;
    min-height:94px;

}

.focus-element.circle {
    -moz-border-radius: 94px;
    -webkit-border-radius: 94px;
    border-radius: 94px;
    margin:8px;
    height:auto;
}

.focus-container .focus-row .inner .focus-element[enabled="true"]:hover {
    border: 6px solid #00ACCE;
    padding:0px;
    background: #CCC;
    color: #000;
    text-shadow: none;
    cursor: hand;
    cursor: pointer;
}

.focus-container .focus-row .inner .focus-element.selected {
    border: 6px solid #00ACCE;
    padding:0px;
    background: #fff;
    color: #000;
    text-shadow: none;
    -moz-box-shadow: 0px 0px 21px #f7ff00;
    -webkit-box-shadow: 0px 0px 21px #f7ff00;
    box-shadow: 0px 0px 21px #f7ff00;
    font-weight: 500;
}

.focus-container .focus-row .inner .focus-element.selected.unknown {
    background-color: #4055f8;
}

.focus-container .focus-row .inner .focus-element.selected.shouldHaveBeenSelected {
    background-color: #80b312;
    border: 6px solid #FFF;
    padding:0px;
}

.focus-container .focus-row .inner .focus-element.shouldHaveBeenSelected {
    background-color: #80b312;
    border: 2px solid #FFF;
    color: #FFF;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 1);

}

.focus-container .focus-row .inner .focus-element.shouldNotHaveBeenSelected {
    background-color: #F8A31A;
    border: 6px solid #FFF;
    color: #FFF;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 1);
}

.focus-row {
    padding: 10px 0;
}

.focus-container .focus-row .inner {
    display: table;
    margin: 0 auto;
    min-height: 94px;
}

.focus-container .focus-row .inner .focus-element {
    width: 82px;
    height: auto;
    padding:4px;
    color: #fff;
    background: #808080;
    border: 2px solid #BFBFBF;
    float: left;
    text-align: center;
    margin: 0px 7px 0px 7px;
    vertical-align: middle;
    text-align: center;
    font-family: "Ubuntu", Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-shadow:1px 1px 0px #000;
    max-width: 94px;
    line-height: 15px;
}


.focus-container .focus-row .inner .focus-element span {
    display: table-cell;

    vertical-align: middle;

}

.focus-element.square {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.focus-element.circle {
    -moz-border-radius: 94px;
    -webkit-border-radius: 94px;
    border-radius: 94px;
    margin:8px;
}

.focus-container .focus-row .inner .focus-element[enabled="true"]:hover {
    border: 6px solid #00ACCE;
    padding:0px;
    background: #CCC;
    color: #000;
    text-shadow: none;
    cursor: hand;
    cursor: pointer;
}

.focus-container .focus-row .inner .focus-element[enabled="true"]:active {
    background: #FFF;
}

.focus-container .focus-row .inner .focus-element.selected {
    border: 6px solid #00ACCE;
    padding:0px;
    background: #fff;
    color: #000;
    text-shadow: none;
    -moz-box-shadow: 0px 0px 21px #f7ff00;
    -webkit-box-shadow: 0px 0px 21px #f7ff00;
    box-shadow: 0px 0px 21px #f7ff00;
    font-weight: 500;
}

.focus-container .focus-row .inner .focus-element.selected.unknown {
    background-color: #4055f8;
}

.focus-container .focus-row .inner .focus-element.selected.shouldHaveBeenSelected {
    background-color: #80b312;
    border: 6px solid #FFF;
    padding:0px;
}

.focus-container .focus-row .inner .focus-element.shouldHaveBeenSelected {
    background-color: #80b312;
    border: 2px solid #FFF;
    color: #FFF;
    text-shadow:1px 1px 0px #000;

}

.focus-container .focus-row .inner .focus-element.shouldNotHaveBeenSelected {
    background-color: #F8A31A;
    border: 6px solid #FFF;
    color: #FFF;
    text-shadow:1px 1px 0px #000;
}
