//needed for the rounded inputs
@import '../../../../../less/common';

.component-placeholder {
  .corespring-drag-and-drop-inline-render-v201 {
    //the component takes the full width of the player
    width: 550px;
    max-width: 550px;
    margin: 10px;

    .undo-start-over {
      //hide, but block the space, so that the
      //content is not hidden behind the edit/delete
      //buttons of the placeholder
      visibility: hidden;
    }
  }
}

.corespring-drag-and-drop-inline-drag-helper-v201 {
  position: absolute;
  display: inline-block;
  margin: 2px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  cursor: move;
}

.corespring-drag-and-drop-inline-render-v201 {

  .undo-start-over {
    margin-bottom: 10px;
  }

  .answer-area-holder.warning {
    .warning-input();
  }

  .feedback.panel {
    margin-top: 10px;

    .panel-heading {
      cursor: default;
    }

    &.warning {
      .panel-heading {
        display: none;
      }
      .panel-body {
        color: #a94442;
        background-color: #f2dede;
        border: 1px solid #ebccd1;
        border-radius: 4px;
      }
    }
  }

  .choices-wrapper {
    margin-top: 20px;
    position: relative;
    padding: 1em;
    border: 1px solid #cccccc;
    border-radius: 4px;

    .choice {
      display: inline;
      margin: 0.25em 0;

      .choice-content {
        display: inline-block;
        width: auto;
        margin-right: 0.25em;
        padding: 0.5em 0.75em;
        background: #efefef;
        border-radius: 4px;
      }

      .choice-content:hover {
        box-shadow: 0px 1px 11px 0px rgba(50, 50, 50, 0.75);
      }

      .choice-content.disabled:hover {
        cursor: default;
        box-shadow: none;
      }

      img {
        max-width: 110px;
        vertical-align: bottom;
      }

      &:active {
        cursor:move;
      }

    }
  }
}

.corespring-drag-and-drop-inline-see-solution-v201 {
  background: #fff;
  overflow: hidden;
  width: 100%;

  .panel {
    border: 4px solid @correct-color;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
  }
  .panel-default {
    & > .panel-heading {
      color: #fff;
      background-color: #3C763D;
      border-color: #3C763D;
      border-radius: 0px;
      cursor: pointer;
    }
  }
}

.corespring-drag-and-drop-inline-see-solution-v201,
.corespring-drag-and-drop-inline-render-v201 {

  .ui-draggable-dragging,
  .ui-sortable-helper {
    opacity: 0.75;
    cursor: move;
  }

  .ui-droppable {
    position: relative;
    bottom: 0;
    margin-bottom: 0px;
    min-width: 50px;
    min-height: 30px;
    -webkit-padding-start: 0;
    -webkit-padding-end: 0;
  }

  .answer-area-inline {
    display: inline-block;
    border-bottom: 1px solid black;
    min-width: 70px;
    min-height: 30px;
    margin-right: 5px;
    vertical-align: middle;

    .selected-choice {
      display: inline-block;
      margin: 0.25em 10px 0.25em 0;
      white-space: nowrap;
      cursor: pointer;

      .selected-choice-content {
        display: inline-block;
        margin-right: 0;
        padding: 0.5em 0.5em 0.5em 0.75em;
        background: #efefef;
        border-radius: 4px;

        .html-wrapper {
          list-style-type: none;
          display: inline-block;
          padding-right: 5px;
        }

        .remove-choice {
          float: right;
          list-style-type: none;
          display: inline-block;
          opacity: 0.3;
          margin-left: 5px;
        }

        &:hover {
          box-shadow: 0px 1px 11px 0px rgba(50, 50, 50, 0.75);

          .remove-choice {
            opacity: 0.8;
          }
        }

        &:active {
          cursor: move;
        }

        &.disabled,
        &.disabled:hover {
          cursor: default;
          box-shadow: none !important;

          .remove-choice {
            display: none;
          }
        }
      }

      img {
        max-width: 110px;
        vertical-align: bottom;
      }

      &.incorrect {
        .selected-choice-content {
          .incorrect-input();
        }
        .circle {
          font-size: 24px;
          color: @incorrect-color;
        }
      }

      &.correct {
        .selected-choice-content {
          .correct-input();
        }
        .circle {
          font-size: 24px;
          color: @correct-color;
        }
      }
    }
  }

  .answer-area-inline-active {
    z-index: 105;
    background: #ccc;
    padding-left: 0.25em;
  }

  .answer-area-inline-hover {
    border: 2px dashed #9b9b9b;
    background: #fff;
    border-radius: 4px;
    z-index: 99;
  }
}

.corespring-drag-and-drop-inline-config-v201 {

  .rounded-inputs;

  .mini-wiggi-wiz {
    background-color: white;

    .wiggi-wiz-editable {
      min-height: 35px;
      line-height: 250%;
    }
  }

  ul.draggable-choices {
    padding: 0;
    list-style-type: none;
  }

  .draggable-choice {
    position: relative;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 5px 0 45px 0;
    min-height: 47px;
    padding: 1em;
    background: #efefef;

    .blocker {
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      z-index: 10;
      border-radius: 4px;
      user-select: none;
      cursor: pointer;

      .bg {
        position: absolute;
        width: 100%;
        height: 100%;
      }

      .content {
        display: inline-flex;
        align-items: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        overflow: visible;

        .edit-controls {
          position: absolute;
          padding: 5px 5px 5px 20px;
          top: 2px;
          right: 2px;

          .edit-icon-button,
          .delete-icon-button {
            cursor: pointer;
            display: inline-block;
            padding-left: 5px;
            padding-right: 5px;
            font-size: 24px;
          }
        }

      }
    }

    .remove-after-placing {
      position: absolute;
      bottom: -35px;
    }
  }

  .add-choice {
    //don't remove
    //used to identify the button for ui testing
  }

  .add-choice-row {
    margin-bottom: 30px;
  }

  .shuffle-choices-row {
    margin-bottom: 10px;
  }

  .layout-config {
    margin-bottom: 30px;
  }

  .choices-and-answers {
    margin-bottom: 30px;
  }

  .answer-area-inline-active {
    background: #ccc;
    padding-left: 0.25em;
  }

  .answer-area-inline-hover {
    background: white;
    border: 3px dashed #ccc;
    border-radius: 10px;
  }

  .answer-area-inline {
    position: relative;
    display: inline-block;
    margin: 2px;
    width: auto;
    height: auto;
    min-width: 50px;
    min-height: 20px;
    border-bottom: 1px solid black;

    ul {
      margin-bottom: 0;
    }

    .sorted-choices {
      padding: 5px 10px;
      min-height: 20px;

      .prompt {
        padding-bottom: 0;
        font-style: italic;
        color: #999;
      }

      .sortable-choice {
        position: relative;
        display: inline-block;
        margin: 2px;
        padding: 1px 20px 1px 5px;
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 4px;

        .delete-icon {
          cursor: pointer;
          position: absolute;
          top: 2px;
          right: 2px;

          i {
            vertical-align: top;
          }


        }
      }
    }
  }

  .answer-area-help-text {
    color: #999;
    font-style: italic;
  }

  .choice-area-position {
    display: inline-block;
    cursor: pointer;
    width: auto;
  }

  .checkbox-toggle {
    cursor: pointer;
  }

}