/* JSX */
.jxgbox {
    position:relative; /* for IE 7 */
    overflow:hidden;
    background-color:#ffffff;
    border-style:solid;
    border-width:1px;
    border-color:#356AA0;
    border-radius:10px;
    /*-moz-border-radius:10px;*/
    -webkit-border-radius:10px;
    -ms-touch-action: none;
    /*
        -moz-box-shadow:black 2px 2px 2px -2px, #151A10 4px 4px;
        -webkit-box-shadow:4px 4px 3px #151A10;
        */
}

.JXGtext {
    background-color: transparent; /* May produce artefacts in IE. Solution: setting a color explicitly. */
    font-family: Arial, Helvetica, Geneva;
    padding: 0px;
    margin: 0px;
    /*line-height:100%;*/ /* This has to be commented out. Otherwise subscripts are not visible in IE */
    /*border-style:dotted;*/
    /*border-width:0.4px;*/
}

.JXGinfobox {
    border-style:none;
    border-width:1px;
    border-color:black;
}

.JXGimage {
    opacity:1.0;
}

.JXGimageHighlight {
    opacity:0.6;
    /*
    border-style:solid;
    border-width:10px;
    border-color:#A0A0A0;
    */
}

/* doesn't seem to be used, and also
   it is interfering with the bootstrap
   navbar which is used for the top navigation
.navbar {
    color: #aaaaaa;
    background-color: #f5f5f5;
    padding: 2px;
    position: absolute;
    font-size: 10px;
    cursor: pointer;
    z-index: 100;
    right: 5px;
    bottom: 5px;
}
*/

/* Point */
.graph-interaction {
    background-color: #ffffff;
    margin-top: 10px;
    padding: 10px 10px 30px 10px;
    max-width: 600px;
}

.point-display {

}

.point-display p, input {
    display: inline;
}

.graph-container {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}

.correct-answer {
    margin-top: 5px;
    float: right;
}

.modal {
  display: block;
}

/* center the graph in see-solution window */
.modal .point-interaction-view .graph-interaction {
  margin-left: auto;
  margin-right: auto;
}

.point-interaction-view {

}

.point-interaction-view .feedback {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 10px 10px 10px 33px;
    border: 2px solid #80b312;
    border-radius: 5px;
    width: 90%;
    background: url("../../images/feedback/correct-icon.png") no-repeat scroll 3px 8px transparent;

}

.point-interaction-view .feedback.incorrect {
    border-color: #F8A31A;
    background: url("../../images/feedback/wrong-icon.png") no-repeat scroll 3px 8px transparent;
}

.point-interaction-view .additional-text p {
  font-family: 'Ubuntu' !important;
  font-style: normal;
  font-size: 13px;
  padding-bottom: 17px;
}

.point-interaction-view .graph-controls {
  background-color: #cccccc;
  border-radius: 4px;
  padding: 5px;
}

.point-interaction-view .scale-display {
  margin-right: 10px;
  text-align: right;
}

.point-interaction-view .action {
  display: inline-block;
  margin-left: 10px;
  font-size: 20px;
  cursor: pointer;
}

.point-intercept-configuration {
}

.point-intercept-configuration .navigator-toggle-button-row {
  /*do not show the hamburger but keep the scrollable container*/
  display: none;
}

.point-intercept-configuration .intro-text {
  padding: 10px;
}

.point-intercept-configuration .coordinate-input {
    max-width: 80px;
}

.point-intercept-configuration .point-row:hover {
    background-color: #eeeeff;
}

.point-intercept-configuration .reset-defaults {
  display: inline-block;
  margin: 0 0 20px 25px;
  font-style: italic;
  cursor: pointer;
}

.point-intercept-configuration .graph-attributes-usage-section {
  margin: 0 0 15px 8px;
  font-style: italic;
}
