@import '../../../../../less/common';
.cs-ruler {
    display: inline-block;
    vertical-align: middle;
    .cs-ruler-toggle {
        cursor: pointer;
        background: url('/client/icon/corespring-ruler') no-repeat center center;
        height: 30px;
        width: 30px;        
        -webkit-transition: opacity 0.3s ease-out;
        transition: opacity 0.3s ease-out;
        position: relative;
        &.visible {
            &:after {
                display: block;
                content: "\00d7";
                opacity: 0.7;
                position: absolute;
                top: -5px;
                right: -10px;
                background-color: @warning-color;
                color: #fff;
                font-size: 15px;
                border-radius: 100%;
                background-clip: padding-box;
                width: 20px;
                height: 20px;
                text-align: center;
                line-height: 18px;
            }
        }
    }
    .cs-ruler-widget {
        position: absolute!important;
        top: 0;
        left: 0;
        pointer-events: none;
        svg {
            position: absolute!important;
            overflow: visible!important;
            top: 0;
            left: 0;
            pointer-events: none;
            image, path, circle, ellipse {
                pointer-events: auto;
            }
        }
    }
}
