@import '../../../../../less/common';
.cs-ruler {
    display: inline-block;
    vertical-align: middle;
    .cs-ruler-toggle {
        cursor: pointer;
        background: url('/client/icon/corespring-ruler') no-repeat center center;
        height: 30px;
        width: 30px;        
        -webkit-transition: opacity 0.3s ease-out;
        transition: opacity 0.3s ease-out;
        position: relative;
        &.visible {
            opacity: 0.5;
        }
    }
    .cs-ruler-widget {
        position: absolute!important;
        top: 0;
        left: 0;
        pointer-events: none;
        svg {
            position: absolute!important;
            overflow: visible!important;
            top: 0;
            left: 0;
            pointer-events: none;
            image, path, circle, ellipse {
                pointer-events: auto;
            }
        }
    }
}
