.corespring-select-text {
  .component-placeholder {
    .holder {
      padding: 10px;
    }
  }
}

.cs-select-text-config {
  .row {
    margin-bottom: 10px;
    .mini-wiggi-wiz {
      .wiggi-wiz-editable {
        padding: 5px 5px 0;
        margin-bottom: 3px;
      }
    }
    .wiggi-wiz {
      margin-top: 10px;
    }
  }
}

.cs-select-text {
  .select-text-content {
    border: 1px dashed #ccc;
    margin: 0 5px 5px;
    padding: 5px;
  }
}