@choice-color-hover-opaque: rgb(161, 228, 242);
@choice-color-hover: rgba(161, 228, 242, 0.5);
@choice-color-opaque: rgb(92,255,160);
@choice-color: rgba(92,255,160, 0.5);
@possible-choice-color-opaque: rgb(187, 187, 187);
@possible-choice-color: rgba(187, 187, 187, 0.5);

.corespring-select-text {
  .component-placeholder {
    .holder {
      padding: 10px;
    }
  }
}

.cs-select-text-config {
  .row {
    margin-bottom: 10px;
    .mini-wiggi-wiz {
      .wiggi-wiz-editable {
        padding: 5px 5px 0;
        margin-bottom: 3px;
      }
    }
    .wiggi-wiz {
      margin-top: 10px;
    }
    .instructions {
      text-align: center;
    }
    .passage-wrapper {
      position: relative;
      .history-buttons {
        position: absolute;
        right: 0;
        bottom: 100%;
        padding-bottom: 4px;
      }
      .passage-preview {
        padding: 5px;
        border: 1px dashed #ccc;
        border-radius: 5px;
        background-clip: padding-box;
        max-height: 350px;
        overflow: auto;
        .token {
          cursor: pointer;
          -webkit-transition: background-color 0.2s ease-out;
          transition: background-color 0.2s ease-out;
          &:hover {
            background-color: @choice-color-hover-opaque;
            background-color: @choice-color-hover;
          }
          &.possible {
            background-color: @possible-choice-color-opaque;
            background-color: @possible-choice-color;
          }
          &.selected {
            background-color: @choice-color-opaque;
            background-color: @choice-color;
          }
        }
        &.select-possible {
          .token {
            cursor: default;
            &:hover {
              background-color: transparent;
            }
            &.possible {
              cursor: pointer;
              background-color: @possible-choice-color-opaque;
              background-color: @possible-choice-color;
            }
            &.selected {
              cursor: pointer;
              background-color: @choice-color-opaque;
              background-color: @choice-color;
            }
          }
        }
      }
    }
    .answer-summary {
      line-height: 60px;
      .badge {
        line-height: 40px;
        width: 40px;
        border-radius: 100%;
        padding: 0;
        color: #555;
        -webkit-transition: all 0.3s ease-in-out; 
        transition: all 0.3s ease-in-out;
        &#possible-count {
          background-color: @possible-choice-color-opaque;
          background-color: @possible-choice-color;
        }
        &#answers-count {
          background-color: @choice-color-opaque;
          background-color: @choice-color;
        }
        &.grow-add {
          -webkit-transform: none;
          -ms-transform: none;
          transform: none;
          &.grow-add-active {
            -webkit-transform: scale(1.5);
            -ms-transform: scale(1.5);
            transform: scale(1.5);
          }
        }
        &.grow-remove {
          -webkit-transform: scale(1.5);
          -ms-transform: scale(1.5);
          transform: scale(1.5);
          &.grow-remove-active {
            -webkit-transform: none;
            -ms-transform: none;
            transform: none;
          }
        }
        &.shrink-add {
          -webkit-transform: none;
          -ms-transform: none;
          transform: none;
          &.shrink-add-active {
            -webkit-transform: scale(0.5);
            -ms-transform: scale(0.5);
            transform: scale(0.5);
          }
        }
        &.shrink-remove {
          -webkit-transform: scale(0.5);
          -ms-transform: scale(0.5);
          transform: scale(0.5);
          &.shrink-remove-active {
            -webkit-transform: none;
            -ms-transform: none;
            transform: none;
          }
        }
      }
    }
  }
}

.cs-select-text {
  .select-text-content {
    border: 1px dashed #ccc;
    border-radius: 5px;
    background-clip: padding-box;
    margin: 0 0 5px;
    padding: 5px;
    .token {
      cursor: pointer;
      -webkit-transition: background-color 0.2s ease-out;
      transition: background-color 0.2s ease-out;
      &:hover {
        background-color: @choice-color-hover-opaque;
        background-color: @choice-color-hover;
      }
      &.selected {
        background-color: @possible-choice-color-opaque;
        background-color:@possible-choice-color;
      }
    }
    &.specific {
      .token {
        cursor: default;
        &:hover {
          background-color: transparent;
        }
        &.possible {
          cursor: pointer;
          background-color: @choice-color-hover-opaque;
          background-color: @choice-color-hover;
        }
        &.selected {
          cursor: pointer;
          background-color: @possible-choice-color-opaque;
          background-color:@possible-choice-color;
        }
      }
    }
  }
}