.view-feedback-container {
    display: block;
    margin-bottom: 5px;
    margin-left: 10px;
}

.view-feedback {
    margin-top: 10px;
    display: inline-block;
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 10px;
    padding-left: 33px;
    min-width: 500px;
}

.view-feedback.correct {
    border-color: #80B312;
    background: url("/assets/images/correct-icon.png") no-repeat scroll 3px 8px transparent;
}

.view-feedback.incorrect {
    border-color: #F8A31B;
    background: url("/assets/images/wrong-icon.png") no-repeat scroll 3px 8px transparent;
}