.view-feedback-container {
    display: block;
    margin-bottom: 5px;
}

.view-feedback {
    display: inline-block;
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 5px;
}

.view-feedback.correct {
    border-color: #80B312;
}

.view-feedback.incorrect {
    border-color: #F8A31B;
}