.corespring-audio {
  .component-placeholder {
    display: inline-block;
  }
}

.corespring-audio-view {
  &.playPause {
    display: inline-block;
  }
  button:disabled {
    opacity: 0.5;
  }
}

.corespring-audio-config {
  .play-pause-labels-form {
    margin-top: 6px;
  }
}
