/** editor placeholder */
.component-placeholder.corespring-video {
    display: inline-block;
    margin-right: 10px;
    min-width: 90px;
}

.cs-video {
    display: inline-block;
}

.cs-video .video-holder {
    text-align: center;
}

.cs-video .blank-video {
    line-height: 200px;
    font-size: 40px;
    vertical-align: middle;
}

.cs-video .blank-video .icon {
    height: 100px;
}


/* config */
.cs-video-config {
}

.cs-video-config .split-container {
    display: flex;
}

.cs-video-config .split-left {
    flex: 5;
}

.cs-video-config .split-right {
    flex: 3;
}

.cs-video-config .description {
    text-align: center;
    margin-bottom: 10px;
}

.cs-video-config .sizing-table {
    padding-right: 5px;
    border-spacing: 5px;
    border-collapse: separate;
    font-size: 10px;
    cursor: pointer; cursor: hand;
}

.cs-video-config .sizing-table .selected {
    background-color: #dddddd;
}

.cs-video-config .video-icon {
    margin-right: 5px;
}

.cs-video-config .video-icon-td {
    padding: 5px;
    border: 1px solid #000000;
    vertical-align: middle;
    text-align: center;
    width: 40px;
    height: 40px;
}

.cs-video-config .preview-video {
    position: absolute;
    top: 98px;
    right: 55px;
}

.cs-video-config .preview-player {
    border: 1px solid #000000;
}

.cs-video-config .blank-video {
    border: 1px solid #000000;
    text-align: center;
    width: 180px;
    height: 100px;
}

.cs-video-config .cs-video-row {
    margin-bottom: 5px;
}

