.view-drag-and-drop {
}

.view-drag-and-drop .choices {
    margin: 5px;
    padding-top: 5px;
}

.view-drag-and-drop .choices-table {
    position: relative;
    display: table;
    border-spacing: 3px;
    border: 1px solid black;
    border-radius: 3px;
    margin: 0 auto;
    min-width: 50px;
    min-height: 50px;
}

.view-drag-and-drop .choices-table-row {
    display: table-row;
}

.view-drag-and-drop .choices-table-cell {
    display: inline-block;
}

.modal .choice,
.view-drag-and-drop .choice {
    vertical-align: top;
    background-color: #EFEFEF;
    height: 100%;
    margin: 3px 3px 1px 1px;
    padding: 8px;
    text-align: center;
    min-width: 60px;
    min-height: 40px;
    max-width: 500px;
    overflow: hidden;
}

.view-drag-and-drop .choice:hover {
    box-shadow: 0px 0px 5px #000;
    border: 1px solid #333;
    cursor: hand; cursor: pointer;
}

.view-drag-and-drop .landing-place {
    min-width: 100px;
    min-height: 30px;
    background-color: #fff;
    border-radius: 4px;
    padding: 8px 8px 8px 8px;
    border: 1px solid #999;
    position: relative;
    margin: 5px 5px 20px;
    min-width: 120px;
    min-height: 68px;
}

.view-drag-and-drop .landing-place.inline {
    display: inline-block;
}

.view-drag-and-drop .label-holder {
    position: absolute;
    top: -10px;
    width: 100%;
    text-align: center;
}

.view-drag-and-drop .label-sizer-holder {
    margin-left: 10px;
    margin-right: 10px;
}

.view-drag-and-drop .sizerHolder,
.modal .sizerHolder {
    visibility: hidden;
    position: fixed;
    max-width: 500px;
}

.view-drag-and-drop .landingLabel,
.view-drag-and-drop .choiceAreaLabel {
    display: inline-block;
    padding-left: 3px;
    padding-right: 3px;
    background-color: #fff;
    color: #000;
}

.view-drag-and-drop .landing-place .choice {
    display: inline-block;
}

.view-drag-and-drop .correct {
    box-shadow: 0px 0px 5px #95C444;
    border: 1px solid #95C444;
}

.view-drag-and-drop .incorrect {
    box-shadow: 0px 0px 5px #F8A31A;
    border: 1px solid #F8A31A;
}

.view-drag-and-drop .partial {
  box-shadow: 0px 0px 5px #843ABC;
  border: 1px solid #843ABC;
}

.view-drag-and-drop .feedback-correct {
    background: url("../../images/feedback/correct-icon.png") no-repeat scroll 0px 5px;
    border: solid 2px #80b312;
    border-radius: 5px;
    padding: 5px 5px 5px 35px;
}

.view-drag-and-drop .feedback-incorrect {
    border: solid 2px #F8A31A;
    padding: 5px 5px 5px 35px;
    border-radius: 5px;
    background: transparent url("../../images/feedback/wrong-icon.png") no-repeat scroll 0px 5px;
}

.view-drag-and-drop .feedback-partial {
  border: solid 2px #843ABC;
  padding: 5px 5px 5px 35px;
  border-radius: 5px;
  background: transparent url("../../images/feedback/partial-icon.png") no-repeat scroll 0px 5px;
}

/* Common config panel styles */

.drag-and-drop-config-panel td {
    padding: 5px;
}

.drag-and-drop-config-panel .answer-placeholder {
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    max-width: 130px;
}

.drag-and-drop-config-panel .drag-and-drop-choices {
    list-style-type: upper-alpha;
}

.drag-and-drop-config-panel .drag-and-drop-choices li {
    float: left;
    width: 145px;
}

.drag-and-drop-config-panel .choice {
    margin-right: 20px;
}

.drag-and-drop-config-panel .select-correct-answers {
    margin-bottom: 10px;
}

.drag-and-drop-config-panel .drag-and-drop-answers {
}

.display-row:before, .display-row:after {
    content: " ";
    display: table;
}

.drag-and-drop-config-panel .display-row {
    width: 100%;
}

.drag-and-drop-config-panel .display-row:after {
    clear: both;
}

.drag-and-drop-config-panel .remove-choice {
    position: absolute;
    right: 38px;
    top: -7px;
}

.drag-and-drop-answers li {
    float: left;
}

.drag-and-drop-config-panel .popover {
    max-width: 350px;
    width: 350px;
}

.drag-and-drop-config-panel .answer-area {
    margin-bottom: 20px;
    position: relative;
}

.drag-and-drop-config-panel .answer-area-select {
    width: 200px;
}

.drag-and-drop-config-panel .fixed-100 {
    width: 100px;
}

.drag-and-drop-config-panel .fixed-120 {
    width: 120px;
}

.drag-and-drop-config-panel .fixed-150 {
    width: 150px;
}


.drag-and-drop-config-panel .remove-button {
    position: absolute;
    right: -7px;
    top: -8px;
    cursor: pointer;
    cursor: hand;
}

.drag-and-drop-config-panel .remove-button i {
    font-size: 20px;
    color: #76a720;
}

.drag-and-drop-config-panel .remove-button:hover i {
    color: #466213;
}


