.view-ordering {
}

.view-ordering ul {
    padding-left: 0px;
    margin-left: 0px;
}

.view-ordering li {
    list-style: none;
    padding-left: 0px;
    margin-left: 0px;
    margin-top: 5px;
}

.view-ordering .choice {
    margin-bottom: .4em;
    border: 1px #000000 solid;
    cursor: move;
    background: #efefef;
    border-radius: 6px;
    display: inline-block;
    padding: 8px;
}

.view-ordering .choice.correct {
    border: 2px solid #80b312;
}

.view-ordering .choice.incorrect {
    border: 2px solid #F8A31A;
}