@import '../../../../../less/common';


.view-placement-ordering {

  .choice-area {
    margin-right: 20px;
    .choices {
      .choices-holder {
        .choices-inner-holder {
          margin-top: 5px;
          border-radius: 4px;
          border: 2px solid #9B9B9B;
          background-color: #efefef;
        }
        .choice {
          border: 1px solid #979797;
          background-color: #ffffff;
          border-radius: 4px;
        }
      }
    }
  }

  .answer-area {
    .choiceHolder {
      border-radius: 4px;
      border: 1px solid #979797;
      background-color: #d8d8d8 !important;
      font-size: 38px;
      line-height: 38px;
      color: #999;

    }

    .answer-area-table {
      border-radius: 4px;
      border: 1px solid #ccc;
      margin-top: 5px;

      .ui-draggable-dragging{
        &:hover{
          cursor: pointer;
        }
      }
      .choice {
        position: relative;
        background-color: #ffffff;

        &.incorrect:after {
          font-family: 'FontAwesome';
          content: @incorrect-character;
          color: @incorrect-color;
          position: absolute;
          right: 2px;
          top: -2px;
          font-size: 17px;
        }

        &.correct:after {
          font-family: 'FontAwesome';
          content: @correct-character;
          color: @correct-color;
          position: absolute;
          right: 2px;
          top: -2px;
          font-size: 17px;
        }

        .remove-choice-button {
          position: absolute;
          right: 3px;
          top: 3px;
          color: #ccc;

          &:hover{
            cursor: pointer;
          }
        }

        cursor: auto;
      }

      &.warning {
        .warning-input();
      }
    }
  }

  .drop-hover .choice {
    background-color: #ffffff !important;
    border: 2px dashed #9b9b9b !important;
  }

  .choice {
    border: 1px solid;
    border-radius: 4px;
    background-color: white;
    height: 100%;
    margin: 3px 3px 1px 1px;
    padding: 8px;
    min-width: 150px;
    max-width: 500px;
    overflow: hidden;
    min-height: 55px;

    &.correct {
      .correct-input();
    }

    &.incorrect {
      .incorrect-input();
    }

    &.hiddenChoice {
      visibility: hidden;

      span[mathjax] {
        visibility: hidden;
      }
    }

    img {
      max-width: 100px;
      max-height: 100px;
    }

    &:hover {
      cursor: pointer;
    }

  }

  .choiceHolder {
    box-shadow: none;
  }

  .choiceHolder.choice:hover {
    border: 1px solid #979797;
  }

  .sizerHolder {
    visibility: hidden;
    position: fixed;
    max-width: 500px;
  }

  .choice-wrapper {
    padding: 10px;
    position: relative;
  }

  
  &.main-table.vertical {
    width: 100%;

    .button-row{
      margin-bottom: 10px;
    }
    
    .choice-area-label, .answer-area-label {
      text-align: center;
    }

    .main-row {
      margin-top: 20px;
      margin-bottom: 10px;
      overflow: hidden;
      clear: both;
    }
    .label-row{
      display: block;
      clear: both;
      overflow: hidden;

      .choice-area-label,.answer-area-label{
        width: 175px;
        display: inline-block;
        margin-left: 2px;
        margin-right: 18px;
        max-height: 40px;
        text-align: center;
        overflow: hidden;
      }
    }
    .choice-area {
      width: 180px;
      float: left;

      .choices {
        padding-top: 0px;
        .choices-holder {
        }

        .choice {
          width: 150px;

        }
      }
    }

    .answer-area {
      width: 180px;
      float: left;

      .choice {
        width: 150px;
      }

      .answer-area-holder {
        display: inline-block;
        .answer-area-table {
          border-radius: 4px;
          display: table;
          padding: 10px;
          margin-top: 5px;

          .choice-wrapper {
            display: table-row;
          }
        }
      }
    }

    .see-answer-area {
      width: 180px;
      float: left;
      margin: 0;
      .choice {
        .correct-input();
      }
    }
  }

  &.main-table.horizontal {
    .button-row {
      float: right;
      display: inline-block;
      margin-bottom: 10px;
    }


    .main-row {
      display: table;
    }

    .choice-area {
      display: table-row;
      .choices {
        display: table-cell;
        .choices-holder {
          display: inline-block;
          max-width: 585px;
          .choice-area-label {
            text-align: left;
            height: auto;
          }
        }
      }
      .choice-wrapper {
        float: left;
      }
    }
    .answer-area {
      display: table-row;

      .answer-area-label {
        margin-top: 10px;
        height: auto;
        display: block;
        text-align: left;
      }
      .answer-area-holder {
        display: table-cell;
      }
      .choice-wrapper {
        display: inline-block;
        vertical-align: top;
      }
      .answer-area-table {
        width: 100%;
        height: 100% !important;
        max-width: 585px;
        margin-top: 5px;
      }
    }
    .feedback-holder {
      margin-top: 10px;
    }

    .see-answer-panel .panel-body {
      padding: 2px;
      .choice {
        .correct-input();
      }
      .answer-area-label {
        display: none;
      }
      .choices-inner-holder {
        border: none;
        background: #fff;
        margin-top: 5px;
      }
    }
  }

  .feedback {
    display: block;
    clear: both;
  }

  .button-row {
    margin-bottom: 10px;
    .btn-success {
      background: @correct-color;
    }
  }
}

.view-ordering {

  ul {
    border: 2px solid #9B9B9B;
    background: #efefef;
    padding: 5px 5px;
    margin-left: 0px;
    margin-bottom: 0px;

    .choice {
      background: #fff;
    }
  }

  li {
    list-style: none;
    padding-left: 0px;
    margin: 0 0 10px;
  }

  .sizerHolder {
    visibility: hidden;
    position: fixed;
    max-width: 500px;
  }

  .choice-area {
    .choices {
      .choices-holder {
        .choices-inner-holder {
          margin-top: 5px;
          border-radius: 4px;
          border: 1px solid #9b9b9b;
          background-color: #efefef;
        }
        .choice {
          border: 1px solid #979797;
          background-color: #ffffff;
          border-radius: 4px;

        }
      }
    }
  }

  .btn-default {
    border-radius: 4px;
  }

  &.horizontal {

    .choice {
      // max-width: 150px;
      min-width: 50px;
    }
    .button-row {
      margin-bottom: 10px;
      float: right;
    }
    .answer-area-container{
      display: table-cell;
      max-width: 595px;
      float:left;
    }
    .container-border {
      border: 1px solid #9B9B9B;
      border-radius: 4px;
      margin-bottom: 10px;
      max-width: 595px;
    }

    li {
      float: left;
      margin-right: 6px;
      margin-bottom: 5px;

      img {
        max-width: 100px;
      }
    }
  }

  &.vertical {

    .answer-area-container {
      display: table;
      width: 100%;
      margin-bottom: 5px;
    }

    .container-border {
      margin-bottom: 10px;
      max-width: 595px;
      display: table-cell;
      float: left;
    }

    .correct-answer {
      display: table-cell;
      vertical-align: top;
      float: right;

      ul {
        border-color: @correct-color;
      }
    }

    .choice-area-label {
      margin-bottom: 5px;
      margin-top: 5px;
    }

    ul {
      border: 2px solid #9B9B9B;
      background: #efefef;
      border-radius: 4px;
      display: inline-block;
      padding-bottom: 0px;
      max-width: 275px;

      .choice {
        background: #fff;
        width: auto;
        min-width: 50px;
      }
    }

  }

  .ui-sortable-helper .choice {
    background-color: #ffffff !important;
    border: 2px dashed #9b9b9b !important;
  }

  .see-correct-answer .choice.correct {
      border: 1px solid @correct-color;
      -moz-box-shadow: 0px 0px 6px 0px #3C763D, inset 0px 1px 0px 0px #ECECEC;
      box-shadow: 0px 0px 6px 0px #3C763D, inset 0px 1px 0px 0px #ECECEC;
      position: relative;

      &:after {
        font-family: 'FontAwesome';
        content: '';
        color: @correct-color;
        position: absolute;
        right: 2px;
        top: -2px;
        font-size: 17px;
      }
    }
  .choice {
    border: 1px #9b9b9b solid;
    background: #efefef;
    border-radius: 4px;
    display: inline-block;
    padding: 8px;
    margin: 0;
    width: 100%;
    min-height: 55px;

    div {
      // width: 96%;
    }

    &.correct {
      border: 1px solid @correct-color;
      -moz-box-shadow: 0px 0px 6px 0px #3C763D, inset 0px 1px 0px 0px #ECECEC;
      box-shadow: 0px 0px 6px 0px #3C763D, inset 0px 1px 0px 0px #ECECEC;
      position: relative;

      &:after {
        font-family: 'FontAwesome';
        content: @correct-character;
        color: @correct-color;
        position: absolute;
        right: 2px;
        top: -2px;
        font-size: 17px;
      }
    }

    &.incorrect {
      border: 1px solid @incorrect-color;
      -moz-box-shadow: 0px 0px 6px 0px #979797, inset 0px 1px 0px 0px #ECECEC;
      box-shadow: 0px 0px 6px 0px #979797, inset 0px 1px 0px 0px #ECECEC;
      position: relative;

      &:after {
        font-family: 'FontAwesome';
        content: @incorrect-character;
        color: @incorrect-color;
        position: absolute;
        right: 2px;
        top: -2px;
        font-size: 17px;
      }

    }

    img {
      max-width: 100px;
      max-height: 100px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .see-answer-panel {
    .panel-body {
      padding: 2px;

      ul {
        padding: 1px;
        background: #fff;
        border: none;
      }

      .choice.correct:after {
        content: "";
      }
    }
  }

  .feedback {
    display: block;
    clear: both;
  }

  .button-row {
    margin-bottom: 10px;
    .btn-success {
      background: @correct-color;
    }
  }

}

.ordering-config {
  .mini-wiggi-wiz .wiggi-wiz-editable {
    background-color: #fff !important;
    min-height: 30px;
  }

  .rounded-inputs;

  .placement-row {
    margin-bottom: 20px;
  }

  ul {
    padding: 0;
    list-style-type: none;
  }

  .choices-row {
    margin-bottom: 30px;
  }

  .sortable-choice {
    position: relative;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 5px 0 45px 0;
    min-height: 47px;
    padding: 1.13em;
    background: #efefef;

    &:hover {
      cursor: pointer;
    }

    .blocker {
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      z-index: 10;
      border-radius: 4px;
      user-select: none;

      .bg {
        position: absolute;
        width: 100%;
        height: 100%;
      }

      .content {
        display: inline-flex;
        align-items: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        overflow: visible;

        .edit-controls {
          position: absolute;
          padding: 5px 5px 5px 20px;
          top: 2px;
          right: 2px;

          .edit-icon-button,
          .delete-icon-button {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-left: 5px;
            font-size: 24px;
          }
        }

      }
    }

    .remove-after-placing {
      position: absolute;
      bottom: -35px;
    }
  }

  .display-row {
    margin-top: 10px;
    margin-bottom: 20px;

    select {
      width: auto;
      display: inline-block;
    }
  }

  .sorted-choices {
    border: 3px dashed #ccc;
    border-radius: 10px;
    padding: 5px 10px;
    min-height: 60px;

    .delete-icon {
      position: absolute;
      top: 5px;
      right: 10px;
      font-size: 24px;
    }
  }

  .zero-state {
    position: absolute;
    top: 0;
    font-style: italic;
    color: #a9a9a9;
    padding: 9px 20px;
  }

  img {
    max-width: 100px;
    max-height: 100px;
  }

}