@max-width-height-image: 100px;

.limit-image-size() {
  img {
    max-width: @max-width-height-image;
    max-height: @max-width-height-image;
  }
}

.component-placeholder {
  .view-ordering,
  .view-placement-ordering {
    .btn-player {
      visibility: hidden;
    }
  }
  .view-placement-ordering.main-table.vertical {
    .see-answer-area{
      margin: 0;
    }
  }
}

.view-placement-ordering {

  @width: 567px;

  .choice-area {
    margin-right: 5px;
    .choices {
      .choices-holder {
        .choices-inner-holder {
          background-color: #ffffff;
        }
        .choice-wrapper {
          padding: 14px 10px 8px 10px;
        }
        .choice {
          background-color: #ffffff;

          &.ui-draggable-dragging {
            cursor: move;
            opacity: 0.75;
          }
        }
      }
    }
  }

  .answer-area, .see-answer-area {
    .drop-wrapper {

      &.correct {
        .correct-input();
      }

      &.incorrect {
        .incorrect-input();
      }

      .choice-area-template();
      padding: 0;
      position: relative;

      .choice {
        box-shadow: none;
      }

      .ordering-number {
        margin: auto;
        position: absolute;
        height: 39px;
        font-size: 38px;
        line-height: 38px;
        color: #999999;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }

    }

    .answer-area-table {
      margin-top: 5px;
      cursor: auto;

      .ui-draggable-dragging {
        &:hover {
          cursor: pointer;
        }
      }

      .choice {
        .remove-choice-button {
          position: absolute;
          right: 3px;
          top: 3px;
          color: #cccccc;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  .drop-hover .drop-wrapper {
    background-color: #d4d2d3 !important;
  }

  .choice {
    .choice-template();
    height: 100%;
    margin: 3px 3px 1px 1px;
    padding: 8px;
    min-width: 150px;
    max-width: 500px;
    overflow: hidden;
    min-height: 55px;

    &.hiddenChoice {
      visibility: hidden;

      span[mathjax] {
        visibility: hidden;
      }
    }

    img {
      max-width: 100px;
      max-height: 100px;
    }

    &:hover {
      cursor: pointer;
    }

  }

  .choiceHolder {
    visibility: hidden;
    box-shadow: none;
  }

  .sizerHolder {
    visibility: hidden;
    position: fixed;
    max-width: 500px;
  }

  .choice-wrapper {
    padding: 10px;
    position: relative;
  }

  
  &.main-table.vertical {
    width: 100%;

    .button-row {
      margin-bottom: 10px;
    }
    
    .choice-area-label, .answer-area-label {
      text-align: center;
    }

    .main-row {
      margin: 5px;
      overflow: hidden;
      clear: both;
      text-align: center;

      .feedback {
        text-align: left;
      }
    }

    .label-row {
      display: block;
      clear: both;
      overflow: hidden;

      .choice-area-label, .answer-area-label {
        display: inline-block;
        margin: 0 2px;
        text-align: center;
        overflow: hidden;
      }
    }

    .placement-areas {
      display: table;
      margin: 0 auto;
      clear:both;
      overflow:hidden;
    }

    .choice-area {
      float: left;
      display: table-cell;

      .choices {
        padding-top: 0px;
        .choices-holder {
        }

        .choice {
          width: 150px;

        }
      }
    }


    .answer-area {
      float: left;
      display: table-cell;

      .choice {
        width: 150px;
      }

      .answer-area-holder {
        display: inline-block;

        .answer-area-table {
          display: table;
          margin-top: 5px;

          .choice-wrapper {
            display: table;
          }
        }

      }
    }

    .see-answer-area {
      display: table-cell;
      float: left;
      margin: 0 0 0 10px;

      .drop-wrapper {
        .correct-input();
      }
    }
  }

  &.main-table.horizontal {
    text-align: center;
    .button-row {
      display: inline-block;
      margin-bottom: 10px;
    }


    .main-row {
      display: table;
      text-align: center;
      margin: 10px;

      .feedback {
        text-align: left;
      }
    }

    .choice-area {
      display: table-row;

      .choices {
        display: table-cell;

        .choices-holder {
          display: inline-block;
          max-width: @width;

          .choice-area-label {
            text-align: center;
            height: auto;
          }
        }
      }
      .choice-wrapper {
        display: inline-block;
      }
    }

    .answer-area {
      display: table-row;

      .answer-area-label {
        margin-top: 10px;
        height: auto;
        display: block;
        text-align: center;
      }

      .answer-area-holder {
        display: table-cell;
      }

      .choice-wrapper {
        display: inline-block;
        vertical-align: top;
      }

      .answer-area-table {
        height: 100% !important;
        width: @width;
        margin-top: 5px;
      }
    }

    .placement-areas {
      display: table;
      margin: 0 auto;
      clear:both;
      overflow:hidden;
    }


    .feedback-holder {
      margin-top: 10px;
    }

    .see-answer-panel .panel-body {
      padding: 2px;
      display: table;
      text-align: center;
      margin: 0 auto;

      .drop-wrapper {
        .correct-input();
      }

      .answer-area-label {
        display: none;
      }

      .choices-inner-holder {
        border: none;
        background-color: #ffffff;
        margin-top: 5px;
      }
    }
  }

}

.view-ordering {

  @width: 567px;

  .choice-area-label {
    text-align: center;
  }

  ul {
    background: #ffffff;
    padding: 5px;
    margin-left: 0px;
    margin-bottom: 0px;
    text-align: center;

    .choice {
      background: #ffffff;
    }
  }

  li {
    list-style: none;
    padding-left: 0px;
    margin: 0 0 10px;
  }

  .sizerHolder {
    visibility: hidden;
    position: fixed;
    max-width: 500px;
  }

  .choice-area {

    .choices {

      .choices-holder {

        .choices-inner-holder {
          margin-top: 5px;
          border: 1px solid #9b9b9b;
          background-color: #ffffff;
        }

        .choice {
          border: 1px solid #979797;
          background-color: #ffffff;
          float: left;

          &.ui-draggable-dragging {
            cursor: move;
            opacity: 0.75;
          }
        }
      }
    }
  }

  .btn-default {
    border-radius: 4px;
  }


  &.horizontal {
    margin: 0 10px;

    .correct {
      border-color: @correct-background;
    }

    .incorrect {
      border-color: @incorrect-background;
    }

    li {
      display: inline-block;
    }

    .choice {
      .choice-template();
      max-width: 150px;
      min-width: 50px;
      display: inline-block;
      float: left;
    }

    .button-row {
      margin-bottom: 10px;
    }

    .answer-area-container {
      width: @width;
      text-align: center;
    }

    .container-border {
      margin-bottom: 10px;
      width: @width;
    }

    li {
      margin-right: 6px;
      margin-bottom: 5px;

      img {
        max-width: 100px;
      }
    }
  }

  &.vertical {

    .answer-area-container {
      display: table;
      width: 100%;
      text-align: center;
    }

    .container-border {
      margin-bottom: 10px;
      max-width: @width;
      width: 100%;
      display: inline-block;
    }

    .correct-answer {
      display: inline-block;
      vertical-align: top;

      ul {
        border-color: @correct-background;
      }
    }

    .choice-area-label {
      margin-bottom: 5px;
      margin-top: 5px;
    }

    ul {
      background: #ffffff;
      display: inline-block;
      padding-bottom: 0px;

      .choice {
        border: 1px solid #f1f1f4;
        box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.18);
        background: #ffffff;
        width: auto;
        min-width: 50px;
        max-width: 200px;

        &.correct {
          box-shadow: none;
          border: 1px solid @correct-background;
        }

        &.incorrect {
          box-shadow: none;
          border: 1px solid @incorrect-background;
        }
      }
    }

  }

  .ui-sortable-helper .choice {
    cursor: move;
    opacity: 0.75;
  }

  .choice {
    border: 1px #9b9b9b solid;
    background: #efefef;
    display: inline-block;
    padding: 8px;
    margin: 0;
    width: 100%;
    min-height: 55px;

    .limit-image-size();

    &:hover {
      cursor: pointer;
    }
  }

}

.view-ordering, .view-placement-ordering {
  .user-choices, .correct-choices {
    transition: opacity linear 0.25s;

    &.shown {
      opacity: 1;
    }

    &.not-shown {
      opacity: 0;
    }
  }
}

.response-wrapper {
  position: relative;
  text-align: center;

  .user-answer {
    position: absolute;
    top: 0;
    left: 0;
  }
  .correct-answer {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.ordering-config {

  .mini-wiggi-wiz {
    word-break: break-all;
    .wiggi-wiz-editable {
      min-height: 30px;
    }
  }

  .col-md-offset-2-5 {
    margin-left: 20.8322222% !important;
  }

  .radio-inline + .radio-inline {
    margin-left: 0;
  }

  .rounded-inputs;

  ul {
    padding: 0;
    list-style-type: none;
  }

  .choices-row {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .enter-choices {
    margin: 0;
  }

  .control-label {
    margin: 10px 0;
  }

  .sortable-choice {
    position: relative;
    display: block;
    border: 1px solid #ccc;
    margin: 5px 0 45px 0;
    min-height: 47px;
    padding: 1.13em;
    background: #efefef;

    &:hover {
      cursor: pointer;
    }

    &.ui-sortable-helper {
      cursor: move;
      opacity: 0.75;
    }

    .blocker {
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      z-index: 10;
      user-select: none;

      .bg {
        position: absolute;
        width: 100%;
        height: 100%;

        .placeholder {
          display: inline-block;
          padding: 13px;
          font-weight: 700;
          color: #7a7a7a;
        }

      }

      .content {
        display: inline-flex;
        align-items: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        overflow: visible;

        .edit-controls {
          position: absolute;
          padding: 5px 5px 5px 20px;
          top: 2px;
          right: 2px;

          .edit-icon-button,
          .delete-icon-button {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-left: 0;
            font-size: 20px;
          }
        }

      }
    }

    .remove-after-placing {
      position: absolute;
      bottom: -35px;
    }
  }

  .display-row {
    margin-top: 10px;
    margin-bottom: 20px;

    select {
      width: auto;
      display: inline-block;
    }
  }

  .sorted-choices {
    border-radius: 10px;
    padding: 5px 10px;
    min-height: 370px;

    .delete-icon {
      position: absolute;
      top: 5px;
      right: 10px;
      font-size: 24px;
    }
  }

  .zero-state {
    position: absolute;
    top: 50px;
    font-style: italic;
    color: #a9a9a9;
    padding: 9px 20px;
  }

  .limit-image-size();

  .panel {
    .panel-heading {
      .panel-title {
       a {
         text-decoration: none;
         &:hover {
           text-decoration: underline;
         }
       }
      }
    }
  }

  .panel.disabled {
    .panel-heading {
      .panel-title {
        a:hover {
          text-decoration: none;
        }
      }
    }
  }

  .placement-row {
    margin-top: 15px;
  }

  .feedback-row {
    margin-top: 20px;
  }

}
