.view-ordering {
}

.view-ordering ul {
    padding-left: 0px;
    margin-left: 0px;
}

.view-ordering li {
    list-style: none;
    padding-left: 0px;
    margin-left: 0px;
    margin-top: 5px;
}

.view-ordering .choice {
    border: 1px #000000 solid;
    background: #efefef;
    border-radius: 6px;
    display: inline-block;
    padding: 8px;
}

.view-ordering .choice.correct {
    border: 2px solid #80b312;
}

.view-ordering .choice.incorrect {
    border: 2px solid #F8A31A;
}

.view-ordering .feedback {
    margin: 10px 0;
}

.view-ordering .feedback-correct {
    background: url("../../images/feedback/correct-icon.png") no-repeat scroll 0px 5px;
    border: solid 2px #80b312;
    border-radius: 5px;
    padding: 5px 5px 5px 35px;
}

.view-ordering .feedback-incorrect {
    border: solid 2px #F8A31A;
    padding: 5px 5px 5px 35px;
    border-radius: 5px;
    background: transparent url("../../images/feedback/wrong-icon.png") no-repeat scroll 0px 5px;
}

.view-ordering .feedback-partial {
    border: solid 2px #843ABC;
    padding: 5px 5px 5px 35px;
    border-radius: 5px;
    background: transparent url("../../images/feedback/partial-icon.png") no-repeat scroll 0px 5px;
}


.view-ordering-config .info {
    margin: 20px 0;
}

.view-ordering-config input[type=text] {
    width: 100%;
}

.view-ordering-config ul {
    padding: 0;
    list-style-type: none;
}

.view-ordering-config .config-panel-body {
    padding: 20px;
}

.view-ordering-config .sortable-choice {
    position: relative;
    display: block;
    border: 1px solid #000000;
    border-radius: 5px;
    margin: 5px 0;
    max-width: 200px;
    min-height: 47px;
    padding: 4px;
    background: #efefef;
}

.view-ordering-config .sortable-choice span {
    display: inline-block;
    padding: 3px 0 0 3px;
}

.view-ordering-config .blocker .content {
    display: inline-flex;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: visible;
}

.view-ordering-config .blocker {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.view-ordering-config .blocker .bg {
    position: absolute;
    width: 100%;
    height: 100%;
}

.view-ordering-config .mini-wiggi-wiz .btn-group button {
    padding: 2px 8px;
}

.view-ordering-config .toolbar {
    padding: 0 5px;
}

.view-ordering-config .toolbar .wiggi-wiz-toolbar {
    border-bottom: none;
}

.view-ordering-config .edit-controls {
    position: absolute;
    padding: 5px 5px 5px 20px;
    top: 2px;
    right: 2px;
}

.view-ordering-config .delete-icon-button,
.view-ordering-config .edit-icon-button {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    font-size: 24px;
}

.view-ordering-config .delete-icon-button:hover,
.view-ordering-config .edit-icon-button:hover {
    cursor: pointer;
}

.view-ordering-config .delete-icon-button:hover i,
.view-ordering-config .edit-icon-button:hover i {
    color: #3f4953;
}

.view-ordering-config .delete-icon-button:hover i:hover,
.view-ordering-config .edit-icon-button:hover i:hover {
    color: #323942;
}