.view-ordering {
}

.view-ordering ul {
    padding-left: 0px;
    margin-left: 0px;
}

.view-ordering li {
    list-style: none;
    padding-left: 0px;
    margin-left: 0px;
    margin-top: 5px;
}

.view-ordering .choice {
    border: 1px #000000 solid;
    background: #efefef;
    border-radius: 6px;
    display: inline-block;
    padding: 8px;
}

.view-ordering .choice.correct {
    border: 2px solid #80b312;
}

.view-ordering .choice.incorrect {
    border: 2px solid #F8A31A;
}

.view-ordering-config .info {
    margin: 20px 0;
}

.view-ordering-config input[type=text] {
    width: 100%;
}

.view-ordering-config .prompt {
    margin-bottom: 25px;
}

.view-ordering-config ul {
    padding: 0;
    list-style-type: none;
}

.view-ordering-config .config-panel-body {
    padding: 20px;
}

.view-ordering-config .sortable-choice {
    position: relative;
    display: block;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 5px 0;
    max-width: 200px;
    min-height: 36px;
    padding: 4px;
    background: #efefef;
}

.view-ordering-config .sortable-choice span {
    display: inline-block;
    padding: 3px 0 0 3px;
}

.view-ordering-config .blocker .content {
    display: inline-flex;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: visible;
}

.view-ordering-config .blocker .content .title {
    width: 100%;
    text-align: center;
    color: #000000;
    text-shadow: 1px 1px 2px rgba(255,255,255, 0.5);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.view-ordering-config .blocker .content .drag-icon {
    display: block;
    position: absolute;
    top: -8px;
    left: 90px;
}

.view-ordering-config .delete-icon {
    z-index: 11;
    transition: opacity 200ms;
    opacity: 0;
}

.view-ordering-config li:hover .delete-icon {
    opacity: 1;
}

.view-ordering-config .blocker {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    left: 0;
    top: 0;
    z-index: 10;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: opacity 200ms;
}

.view-ordering-config .blocker .bg {
    background-color: black;
    opacity: 0.3;
    position: absolute;
    width: 100%;
    height: 100%;
}

.view-ordering-config .blocker:hover {
    opacity: 1.0;
}

.view-ordering-config .mini-wiggi-wiz .btn-group button {
    padding: 2px 8px;
}

.view-ordering-config .toolbar {
    padding: 0 5px;
}

.view-ordering-config .toolbar .wiggi-wiz-toolbar {
    border-bottom: none;
}