.choice-icon {
  display: inline-block;

  .correct-background {
    fill: @choice-correct-border;
  }

  .correct-foreground {
    fill: @choice-correct-inner;
  }

  .incorrect-background {
    fill: @choice-incorrect-border;
  }

  .incorrect-foreground {
    fill: @choice-incorrect-inner;
  }
}

.cs-icon {
  display: inline-block;

  .correct-background {
    fill: @feedback-correct-background;
  }

  .correct-foreground {
    fill: @feedback-correct-foreground;
  }

  .incorrect-background {
    fill: @feedback-incorrect-background;
  }

  .incorrect-foreground {
    fill: @feedback-incorrect-foreground;
  }

  .nothing-submitted-background {
    fill: @feedback-nothing-submitted-background;
  }

  .nothing-submitted-foreground {
    fill: @feedback-nothing-submitted-foreground;
  }

  .nothing-submitted-accent {
    fill: @feedback-nothing-submitted-accent;
  }

  .partially-correct-background {
    fill: @feedback-partially-correct-background;
  }

  .partially-correct-foreground {
    fill: @feedback-partially-correct-foreground;
  }

  .feedback {
    -webkit-filter: drop-shadow(2px 2px 1px #b3aca4);
    filter: drop-shadow(2px 2px 1px #b3aca4);
  }

}

.correct-feedback .popover {
  background: @feedback-correct-background;
  .arrow:after {
    border-top-color: @feedback-correct-background;
  }
}

.incorrect-feedback .popover {
  background: @feedback-incorrect-background;
  .arrow:after {
    border-top-color: @feedback-incorrect-background;
  }
}

.nothing-submitted-feedback .popover {
  background: @feedback-nothing-submitted-accent;
  .arrow:after {
    border-top-color: @feedback-nothing-submitted-accent;
  }
}

.partially-correct-feedback .popover {
  background: @feedback-partially-correct-background;
  .arrow:after {
    border-top-color: @feedback-partially-correct-background;
  }
}