.choice-icon {
  display: inline-block;

  .choice-background {
    fill: @choice-background;
  }
  .choice-foreground {
    fill: @choice-foreground;
  }
  .choice-selection {
    fill: @choice-selection;
  }
  .muted-background {
    fill: @choice-muted-background;
  }
  .muted-foreground {
    fill: @choice-muted-foreground;
  }
  .correct-background {
    fill: @correct-background;
  }

  .correct-foreground {
    fill: @correct-foreground;
  }

  .incorrect-background {
    fill: @incorrect-background;
  }

  .incorrect-foreground {
    fill: @incorrect-foreground;
  }
}

.cs-icon {
  display: inline-block;

  .correct-background {
    fill: @correct-background;
  }

  .correct-foreground {
    fill: @correct-foreground;
  }

  .incorrect-background {
    fill: @incorrect-background;
  }

  .incorrect-foreground {
    fill: @incorrect-foreground;
  }

  .nothing-submitted-background {
    fill: @warning-background;
  }

  .nothing-submitted-foreground {
    fill: @warning-foreground;
  }

  .nothing-submitted-accent {
    fill: @warning-block-background;
  }

  .partially-correct-background {
    fill: @correct-background;
  }

  .partially-correct-foreground {
    fill: @correct-background;
  }

  .feedback {
    -webkit-filter: drop-shadow(2px 2px 1px #b3aca4);
    filter: drop-shadow(2px 2px 1px #b3aca4);
  }

}

.correct-feedback .popover {
  background: @correct-background;
  .arrow:after {
    border-top-color: @correct-background;
  }
}

.incorrect-feedback .popover {
  background: @incorrect-background;
  .arrow:after {
    border-top-color: @incorrect-background;
  }
}

.nothing-submitted-feedback .popover {
  background: @warning-block-background;
  .arrow:after {
    border-top-color: @warning-block-background;
  }
}

.partially-correct-feedback .popover {
  background: @partially-correct-background;
  .arrow:after {
    border-top-color: @partially-correct-background;
  }
}