@import '../../../../../less/common';

.line-interaction-view {

}

.multiple-line-interaction-configuration {
  h3{
    margin: 0;
    margin-bottom: 10px;
    padding:0;
  }
  .default-input {
    max-width: 120px;
  }
  .reset-defaults {
    margin: 20px 0 20px 0;
    font-style: italic;
  }

  .input-number-label {
    margin-bottom: 0;
    padding-top: 7px;
  }

  .inline-error-messages {
    min-height: 35px;
  }

  .inline-error-message {
    color: red;
    font-size: 12px;
  }

  .delete-line {
    font-size: 20px;
  }
}
