
/** editor placeholder */
.corespring-function-entry {
  .component-placeholder {
    display: inline-block;
    max-width: 200px;
    margin-right: 10px;
  }
}

.view-function-entry {
  @feedback-size: 44px;
  display: inline-block;
  margin: 0 8px 0 3px;
  position: relative;

  &.instructor {
    .form-control:disabled {
      background-color: #ffffff;
      color: #000000;
    }
    .feedback-icon {
      display: none;
    }
  }

  .form-control {
    border-color: #bfbfbf;

    &:focus {
      box-shadow: none;
      border-color: #bfbfbf;
    }

    &.filled-in {
      background-color: #eef8fc;
      color: #544d98;
    }

    &:disabled {
      background-color: #f8f6f6;
      color: #939393;

      &.correct {
        .correct-input();
      }

      &.incorrect {
        .incorrect-input();
      }
    }

  }

  &.popupFeedback {
    .correct, .incorrect, .warning {
      cursor: pointer;
    }

    .form-control[disabled], .form-control[readonly] {
      cursor: pointer;
    }
  }

  &.with-feedback {
    margin-right: @feedback-size;
  }

  .text-input {
    width: auto;
    display: inline-block;
    vertical-align: top;
  }

  .format-help {
    padding-left: 30px;
    width: 280px;
    line-height: 30px;
  }

  .hidden-math {
    display: none;
  }

  .popover {
    padding: 0px;

    .popover-title {
      padding: 8px 14px;
    }

    & > .arrow:after {
      border-bottom-color: #f7f7f7;
    }

    &.feedback-popover {
      & > .arrow:after {
        border-bottom-color: #ffffff;
      }
    }
  }

  .feedback-popover {

    &.bottom {
      margin-top: 0;
    }
  }

  .feedback-icon {
    position: absolute;
    top: -3px;
    right: -1 * @feedback-size;

    .cs-icon {
      width: @feedback-size;
      height: @feedback-size;
    }
  }

}

/* Config Panel */
.cs-function-entry-cfg {

  .intro-text {
    margin-bottom: 20px;
  }

  .description {
    margin-bottom: 10px;
  }

  .well {
    padding: 8px;
  }

  .main-header {
    padding: 10px 10px 0px 10px;
  }

  .help-questionmark {
    position: absolute;
    margin-top: -5px;
    margin-left: 5px;
  }

  .equation-input {
    display: inline-block;
    width: 200px;
  }

  &.__answers-holder {
    padding-bottom: 10px;
  }

  .equation-input-row {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
  }

  .formatting-help.popoverOpen {
    margin-bottom: 280px;
  }

  .radio-inline + .radio-inline {
    margin-left: 0;
  }

}
