
/** editor placeholder */
.corespring-function-entry {
  .component-placeholder {
    display: inline-block;
    max-width: 200px;
    margin-right: 10px;
  }
}

.view-function-entry {
  display: inline-block;
  margin: 0 8px 0 3px;

  &.popupFeedback {
    .correct, .incorrect, .warning {
      cursor: pointer;
    }

    .form-control[disabled], .form-control[readonly] {
      cursor: pointer;
    }
  }

  .text-input {
    width: auto;
    display: inline-block;
    vertical-align: top;
  }

  .format-help {
    padding-left: 30px;
    width: 280px;
    line-height: 30px;
  }

  .warning input {
    .warning-border();
  }

  .correct input {
    .correct-input()
  }

  .incorrect input {
    .incorrect-input();
  }

  .correct,
  .incorrect,
  .warning {
    position: relative;
  }

  .correct:after,
  .incorrect:after,
  .warning:after {
    font-family: "fontawesome";
    font-size: 24px;
    position: absolute;
    top: 1px;
    right: 3px;
  }

  .incorrect:after {
    color: @incorrect-color;
    content: @incorrect-character;
  }

  .correct:after {
    color: @correct-color;
    content: @correct-character;
  }

  .warning:after {
    color: @warning-color;
  }

  .hidden-math {
    display: none;
  }

  .popover {
    padding: 0px;
  }

  .popover > .arrow:after {
    border-bottom-color: #f7f7f7;
  }
}

/* Config Panel */
.cs-function-entry-cfg {

  .intro-text {
    margin-bottom: 20px;
  }

  .description {
    margin-bottom: 10px;
  }

  .well {
    padding: 8px;
  }

  .main-header {
    padding: 10px 10px 0px 10px;
  }

  .help-questionmark {
    position: absolute;
    margin-top: -5px;
    margin-left: 5px;
  }

  .equation-input {
    display: inline-block;
    width: 200px;
  }

  &.__answers-holder {
    padding-bottom: 10px;
  }

  .equation-input-row {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
  }

  .formatting-help.popoverOpen {
    margin-bottom: 280px;
  }

  .radio-inline + .radio-inline {
    margin-left: 0;
  }

}
