.choice-template-choice {
    width: 100%;
    vertical-align: bottom;
}

.choice-template-choice .choice-remove-button {
    position: absolute;
    right: 3px;
    top: -8px;
    cursor: pointer;
    cursor: hand;
}

.choice-template-choice .choice-remove-button i {
    font-size: 20px;
    color: #76a720;
}

.choice-template-choice .choice-remove-button:hover i {
    color: #466213;
}

.choice-template-choice .choice-checkbox {
    cursor: pointer;
    cursor: hand;
}

.choice-template-choice .choice-checkbox.checked {
    color: limegreen;
}

.choice-template-choice .feedback-label {
    font-size: smaller;
}

.choice-template-choice .feedback-preview {
    height: 36px;
    display: inline-block;
    margin-top: 10px;
    padding: 6px 6px 6px 36px;
    background: #ffffff url("/assets/images/wrong-icon.png") no-repeat scroll 4px 6px;
    border: 2px solid #F8A31A;
    border-radius: 4px;
    width: 80%;
}

.choice-template-choice .feedback-preview.correct {
    background: #ffffff url("/assets/images/correct-icon.png") no-repeat scroll 4px 6px;
    border: 2px solid #80b312;
}

.choice-template-scoring-section .scoring-well {
    min-width: 515px;
}

.choice-template-scoring-section .score-row {
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}

.choice-template-scoring-section .score-row:hover {
    background-color: #eeeeff;
}

.choice-template-scoring-section .score-row .remove-button {
    position: absolute;
    right: 5px;
    top: 5px;
    display: none;
    background-color: rgb(245, 244, 253);
}

.choice-template-scoring-section .score-row:hover .remove-button {
    display: block;
}

.choice-template-scoring-section .invalid {
    background-color: #ffdcdc;
}

.scoring-header-text {
    margin-bottom: 10px;
}
