.choice-template-choice {
    width: 100%;
    vertical-align: bottom;
}

.choice-template-choice .choice-remove-button {
    position: relative;
    left: -4px;
    top: 18px;
}

.choice-template-choice .choice-checkbox {
    cursor: pointer;
    cursor: hand;
}

.choice-template-choice .choice-checkbox.checked {
    color: limegreen;
}

.choice-template-choice .feedback-label {
    font-size: smaller;
}

.choice-template-scoring-section .score-row {
    margin-top: 10px;
    margin-bottom: 10px;
}
.choice-template-scoring-section .score-row:hover {
    background-color: #fee;
}