.choice-template-choice {
    width: 100%;
    vertical-align: bottom;
}

.choice-template-choice .choice-remove-button {
    position: relative;
    left: -4px;
    top: 18px;
}

.choice-template-choice .choice-checkbox {
    cursor: pointer;
    cursor: hand;
}

.choice-template-choice .choice-checkbox.checked {
    color: limegreen;
}

.choice-template-choice .feedback-label {
    font-size: smaller;
}