.view-placement-ordering {
}

.view-placement-ordering .main-table {
    display: table;
    width: 100%;
}

.view-placement-ordering .main-row {
    display: table-row;
    width: 100%;
}

.view-placement-ordering .choice-area {
    display: table-cell;
    width: 50%;
    vertical-align: top;
}

.view-placement-ordering .answer-area {
    display: table-cell;
    width: 50%;
    vertical-align: top;
}

/* Config Panel */

.drag-and-drop-config-panel .description {
    padding: 10px;
}

.drag-and-drop-config-panel td {
    padding: 5px;
}

.drag-and-drop-config-panel .answer-placeholder {
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    max-width: 130px;
}

.drag-and-drop-config-panel .drag-and-drop-choices {
    list-style-type: upper-alpha;
}

.drag-and-drop-config-panel .drag-and-drop-choices li {
    float: left;
    width: 145px;
}

.drag-and-drop-config-panel .choice {
    margin-right: 20px;
}

.drag-and-drop-config-panel .select-correct-answers {
    margin-bottom: 10px;
}

.drag-and-drop-config-panel .drag-and-drop-answers {
}

.display-row:before, .display-row:after {
    content: " ";
    display: table;
}

.drag-and-drop-config-panel .display-row {
    width: 100%;
}

.drag-and-drop-config-panel .display-row:after {
    clear: both;
}

.drag-and-drop-config-panel .remove-choice {
    position: absolute;
    right: 38px;
    top: -7px;
}

.drag-and-drop-answers li {
    float: left;
}

.drag-and-drop-config-panel .popover {
    max-width: 350px;
    width: 350px;
}

.drag-and-drop-config-panel .answer-area {
    margin-bottom: 20px;
}

.drag-and-drop-config-panel .answer-area-select {
    width: 200px;
}

.drag-and-drop-config-panel .category-row {
    margin-bottom: 10px;
    width: 300px;
    position: relative;
}

.drag-and-drop-config-panel .category-remove-button {
    position: absolute;
    right: -7px;
    top: -8px;
    cursor: pointer;
    cursor: hand;
}

.drag-and-drop-config-panel .category-remove-button i {
    font-size: 20px;
    color: #76a720;
}

.drag-and-drop-config-panel .category-remove-button:hover i {
    color: #466213;
}

.popover-row {
    margin-bottom: 10px;
}

.popover-label {
    width: 100px;
    display: inline-block;
}

.popover-input {
    display: inline-block;
}

.popover-content {
    padding: 10px;
}

.modal {
    display: block;
}

.placement-ordering-config .config-panel-body {
    margin: 20px;
}

.placement-ordering-config .shuffle {
    margin-top: 10px;
}

.placement-ordering-config .choice-columns {
    width: 100%;
}

.placement-ordering-config .choice-columns td {
    width: 50%;
    vertical-align: top;
}

.placement-ordering-config .choice-columns .prompt {
    width: 80%;
    margin-bottom: 20px;
}

.placement-ordering-config ul {
    padding: 0;
    list-style-type: none;
}

.placement-ordering-config .sorted-choices {
    border: 3px dashed #cccccc;
    border-radius: 10px;
    padding: 5px 10px;
    min-height: 60px;
}

.placement-ordering-config .zero-state {
    font-style: italic;
    color: #a9a9a9;
    padding: 9px 20px;
}

.placement-ordering-config .sortable-choice {
    position: relative;
    display: block;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 5px 0 45px 0; /* bottom margin to leave space for remove-after-placing */
    max-width: 200px;
    min-height: 36px;
    padding: 4px;
    background: #efefef;
}

.placement-ordering-config .draggable-choices-container {
    position: relative;
}

.placement-ordering-config .draggable-choices-container .zero-state {
    position: absolute;
    top: 0;
}

.placement-ordering-config .sortable-choice span {
    display: inline-block;
    padding: 3px 0 0 3px;
}

.placement-ordering-config .blocker .content {
    display: inline-flex;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: visible;
}

.placement-ordering-config .blocker .content .title {
    width: 100%;
    text-align: center;
    color: #000000;
    text-shadow: 1px 1px 2px rgba(255,255,255, 0.5);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.placement-ordering-config .blocker .content .drag-icon {
    display: block;
    position: absolute;
    top: -8px;
    left: 90px;
}

.placement-ordering-config .delete-icon {
    z-index: 11;
    transition: opacity 200ms;
    opacity: 0;
}

.placement-ordering-config li:hover .delete-icon {
    opacity: 1;
}

.placement-ordering-config .blocker {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    left: 0;
    top: 0;
    z-index: 10;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: opacity 200ms;
}

.placement-ordering-config .remove-after-placing {
  position: absolute;
  bottom: -35px; /*move past the bottom of the choice*/
}

.placement-ordering-config .blocker .bg {
    background-color: black;
    opacity: 0.3;
    position: absolute;
    width: 100%;
    height: 100%;
}

.placement-ordering-config .blocker:hover {
    opacity: 1.0;
}

.placement-ordering-config .mini-wiggi-wiz .btn-group button {
    padding: 2px 8px;
}

.placement-ordering-config .toolbar {
    padding: 0 5px;
}

.placement-ordering-config .toolbar .wiggi-wiz-toolbar {
    border-bottom: none;
}