.view-multiple-choice
  .input-holder
    .header Prompt:
    .body
      textarea(ng-ckeditor, ng-model="model.prompt")
      .choice(ng-repeat="q in model.choices")
        .remove-button(ng-click="removeQuestion(q)")
          i.glyphicon.glyphicon-remove
        table
          tr
            td
              .correct-block
              span.correct-label Correct
              br/
              input(type="checkbox", ng-model="correctMap[q.value]")
            td {{toChar($index)}}