.view-multiple-choice .correct-label {
    color: #008000;
}

.view-multiple-choice td {
    vertical-align: top;
    padding: 5px;
}

.view-multiple-choice .prompt {
    color: #666666;
    font-style: italic;
}

.view-multiple-choice .correct-block {
    display: inline-block;
    text-align: center;
}

.view-multiple-choice .remove-button {
    position: relative;
    right: 0px;
    top: 5px;
}

.view-multiple-choice .choices-container {
    display: table;
}

.view-multiple-choice .choices-container.tile {
    max-width: 200px;
}

.view-multiple-choice .choice-holder {
    display: table-row;
}

.view-multiple-choice .choice-feedback-holder {
    height: 40px;
    padding-left: 40px;
    position: relative;
}

.choice-feedback-holder .cs-feedback {
    border: none;
}

.incorrect .choice-letter,
.correct .choice-letter {
    border: 2px solid #80b312;
    border-right: none;
    border-radius: 6px 0px 0px 6px;
}

.incorrect .choice-currency-symbol,
.correct .choice-currency-symbol {
    border: 2px solid #80b312;
    border-right: none;
    border-left: none;
}

.incorrect .choice-label,
.correct .choice-label {
    border: 2px solid #80b312;
    border-left: none;
    border-radius: 0px 6px 6px 0px;
}

.incorrect .choice-label,
.incorrect .choice-letter,
.incorrect .choice-currency-symbol {
    border-color: #F8A31A;
}

.incorrect.cs-feedback,
.correct.cs-feedback {
    margin-top: 5px;
    padding-bottom: 30px;
    background: url("/assets/images/wrong-icon.png") no-repeat scroll 0px -0px transparent;
    padding-left: 30px;
}

.correct.cs-feedback {
    background: url("/assets/images/correct-icon.png") no-repeat scroll 0px -0px transparent;
}

.view-multiple-choice .choice-input,
.view-multiple-choice .choice-letter,
.view-multiple-choice .choice-currency-symbol,
.view-multiple-choice .choice-label {
    display: table-cell;
    padding: 10px;
}

.view-multiple-choice .choice-label span {
    width: 100%;
    display: inline-block;
}

.view-multiple-choice .rightAlign .choice-label span {
    text-align: right;
}

.view-multiple-choice .horizontal {
    display: table-cell;
}

.view-multiple-choice .choice-holder.tile {
    float: left;
    padding-right: 10px;
}

.view-multiple-choice .choice {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 5px;
    position: relative;
}

.view-multiple-choice .choice table {
    width: 100%;
}

.view-multiple-choice .choice-image {
    max-width: 50px;
    max-height: 50px;
}

.view-multiple-choice .cs-feedback {
    display: table-cell;
    position: absolute;
    width: 300px;
}

.view-multiple-choice .horizontal .choice-feedback-holder {
    display: none;
}

.score-table td {
    padding-right: 80px;
}