.view-multiple-choice .correct-label {
    color: #008000;
}

.view-multiple-choice td {
    vertical-align: middle;
    padding: 5px;
}

.view-multiple-choice .correct-block {
    display: inline-block;
    text-align: center;
}

.view-multiple-choice .remove-button {
    position: absolute;
    right: 10px;
    top: 5px;
}

.view-multiple-choice .choice-holder.horizontal{
    float:left;
    padding-right: 10px;
}

.view-multiple-choice .choice {
    background-color: #fff;
    border: 1px solid #888;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 5px;
    position: relative;
}