@import '../../../../../less/common';

/** editor placeholder */
.component-placeholder {
	.corespring-calculator {
    display: inline-block;
    margin-right: 10px;
  }
}

.cs-calculator {
  display: inline-block;
  vertical-align: middle;
	background-color: white;
	.cs-calculator-toggle {
    cursor: pointer;
    background: url('/client/icon/corespring-calculator') no-repeat center center;
    height: 30px;
    width: 30px;        
    -webkit-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
    position: relative;
    &.visible {
      &:after {
        display: block;
        content: "\00d7";
        opacity: 0.7;
        position: absolute;
        top: -5px;
        right: -10px;
        background-color: @warning-color;
        color: #fff;
        font-size: 15px;
        border-radius: 100%;
        background-clip: padding-box;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 18px;
      }
    }
  }
}

/* config */
@preview-basic-width: 149px;
@preview-basic-height: 229px;
@preview-scientific-width: 324px;
@preview-scientific-height: 229px;

.cs-calculator-config {
  .description {
    padding: 15px;
    margin-bottom: 10px;
  }
  .cs-calculator-row {
    margin-bottom: 5px;
    .preview_basic {
      width: @preview-basic-width;
      height: @preview-basic-height;
      background: data-uri('../../public/basic-calculator.png') no-repeat center;
    }
    .preview_scientific {
      width: @preview-scientific-width;
      height: @preview-scientific-height;
      background: data-uri('../../public/scientific-calculator.png') no-repeat center;
    }
	}
}