/** editor placeholder */
.component-placeholder {
	.corespring-calculator {
    display: inline-block;
    margin-right: 10px;
  }
}

.cs-calculator {
	border: 1px solid gray;
	position: absolute;
	background-color: white;
	cursor: move;
	.icon {
    height: 200px;
  }
}

/* config */
.cs-calculator-config {
	.description {
    padding: 15px;
    margin-bottom: 10px;
  }
  .cs-calculator-row {
    margin-bottom: 5px;
	}
}