@import '../../../../../less/common';

.feedback-popover {
  &.popover {
    padding: 0px;
    min-width: 200px;
    &.popover-incorrect > .arrow:after {
      border-bottom-color: @incorrect-color;
    }

    &.popover-correct .popover-title {
      background-color: @correct-color;
      color: #ffffff;
    }

    &.popover-correct > .arrow:after {
      border-bottom-color: @correct-color;
    }

    &.popover-warning .popover-title {
      background-color: @warning-color-border;
      color: @warning-color;
    }

    &.popover.popover-warning > .arrow:after {
      border-bottom-color: @warning-color-border;
    }

    &.popover-incorrect .popover-title {
      background-color: @incorrect-color;
      color: #ffffff;
    }
    &.popover-partial .popover-title {
      background-color: @partial-color;
      color: #ffffff;
    }
    &.popover.popover-partial > .arrow:after {
      border-bottom-color: @partial-color;
    }
  }
}

.learn-more-panel {
  &.panel {
    .color-panel(@learn-more-color);
    box-shadow: none;
    border: none;

    .panel-heading {
      border-radius: 4px;

      a {
        color: #fff;
      }

      i.fa {
        font-size: 28px;
        margin-right: 10px;
      }
    }

    .panel-body {
      margin-top: -5px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      padding: 10px;
    }
  }
}

.see-answer-panel {
  &.answer-holder {
    background: #fff;
    overflow: hidden;
    .answer-collapse {
      display: none;

      &.answerExpanded {
        display: block;
      }
    }

    .panel {
      border: 4px solid #3C763D;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: normal;
    }
    .panel-default {
      & > .panel-heading {
        color: #fff;
        background-color: #3C763D;
        border-color: #3C763D;
        border-radius: 0px;
        cursor: pointer;
      }
    }
    .answerIcon {
      font-size: 30px;
      margin-right: 2%;
    }
  }
}

.btn-player {
  width: 105px;
  font-size: 9pt;
  color: #939393;
  border: none;
  background-color: #FFF;
  text-transform: lowercase;
  .fa {
    color: #1a9cff;
    border: 1px solid #bce2ff;
    background-color: #fff;
    width:32px;
    height:32px;
    border-radius:50px;
    text-align:center;
    padding: 5px 0 0 0;
    margin: 0 5px 0 0;
    font-size: 14pt;
    font-weight: bold;
  }

  .start-over-icon {
    background: data-uri('../../public/player_startover_icon_active.png') no-repeat center transparent;
  }
}

.btn-player.btn-undo {
  width: 85px;
}

.btn-player.disabled,
.btn-player.disabled {
  .fa {
    color: #e0dee0;
    border-color: #e0dee0;
  }

  .start-over-icon {
    background: data-uri('../../public/player_startover_icon_inactive.png') no-repeat center transparent;
  }
}

