/* JSX */
.line-interaction-view .jxgbox {
    position: relative; /* for IE 7 */
    overflow: hidden;
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: #356AA0;
    border-radius: 10px;
    /*-moz-border-radius:10px;*/
    -webkit-border-radius: 10px;
    -ms-touch-action: none;
    /*
        -moz-box-shadow:black 2px 2px 2px -2px, #151A10 4px 4px;
        -webkit-box-shadow:4px 4px 3px #151A10;
        */
}

.line-interaction-view .JXGtext {
    background-color: transparent; /* May produce artefacts in IE. Solution: setting a color explicitly. */
    font-family: Arial, Helvetica, Geneva;
    padding: 0px;
    margin: 0px;
    /*line-height:100%;*/
    /* This has to be commented out. Otherwise subscripts are not visible in IE */
    /*border-style:dotted;*/
    /*border-width:0.4px;*/
}

.line-interaction-view .JXGinfobox {
    border-style: none;
    border-width: 1px;
    border-color: black;
}

.line-interaction-view .JXGimage {
    opacity: 1.0;
}

.line-interaction-view .JXGimageHighlight {
    opacity: 0.6;
    /*
    border-style:solid;
    border-width:10px;
    border-color:#A0A0A0;
    */
}
/* doesn't seem to be used, and also
   it is interfering with the bootstrap
   navbar which is used for the top navigation
.navbar {
    color: #aaaaaa;
    background-color: #f5f5f5;
    padding: 2px;
    position: absolute;
    font-size: 10px;
    cursor: pointer;
    z-index: 100;
    right: 5px;
    bottom: 5px;
}
*/

/* TODO where is it used? */
.correct-answer {
    margin-top: 5px;
    float: right;
}

.modal {
    display: block;
}

/* center the graph in see-solution window */
.modal .line-interaction-view .graph-interaction {
  margin-left: auto;
  margin-right: auto;
}



.line-interaction-view .additional-text p {
  font-family: 'Ubuntu' !important;
  font-style: normal;
  font-size: 13px;
  padding-bottom: 17px;
}

.line-interaction-view .graph-container {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}

.line-interaction-view .graph-controls {
  background-color: #cccccc;
  border-radius: 4px;
  padding: 5px;
  position: relative;
}

.line-interaction-view .inputs {
}

.line-interaction-view .scale-display {
  position: absolute;
  bottom: 5px;
  right: 10px;
}

.line-interaction-view .point-display {

}

.line-interaction-view .point-display p,
.line-interaction-view .point-display input {
  display: inline;
}


.line-interaction-view .point-display-break {
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 8px;
  border-color: #999999;
}

.line-interaction-view .action {
  display: inline-block;
  margin-left: 10px;
  font-size: 20px;
  cursor: pointer;
}

.line-interaction-view .graph-interaction {
  margin-top: 10px;
  padding: 10px 10px 30px 10px;
  max-width: 600px;
}

.line-interaction-configuration .navigator-toggle-button-row {
  /*do not show the hamburger but keep the scrollable container*/
  display: none;
}

.line-interaction-configuration .intro-text {
    padding: 10px;
}

.line-interaction-configuration .informative-label {
    font-size: small;
    font-style: italic;
    margin-bottom: 10px;
}

.line-interaction-configuration .default-input {
    max-width: 120px;
}

.line-interaction-configuration .reset-defaults {
    display: inline-block;
    margin: 0 0 20px 25px;
    font-style: italic;
    cursor: pointer;
}

