@import '../../../../../less/common';

.line-interaction-view {

  .jxgbox {
    position: relative;
    overflow: visible !important;
    background-color: #ffffff;
    -ms-touch-action: none;
  }

  .JXGtext {
    background-color: transparent;
    font-family: Arial, Helvetica, Geneva;
    padding: 0px;
    margin: 0px;
  }

  .JXGinfobox {
    border-style: none;
    border-width: 1px;
    border-color: black;
  }

  .JXGimage {
    opacity: 1.0;
  }
  .JXGimageHighlight {
    opacity: 0.6;
  }

  .feedback-holder {

    .fa-warning {
      font-size: 22px;
      line-height: 31px;
      color: @warning-color;
    }

    .feedback {

      &.warning {

        .panel-heading {
          display: none;
        }

        .panel-body {
          background-color: @warning-color-background;
          border-color: @warning-color-border;
          color: @warning-color;
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
        }

      }

    }
  }

  .solution-panel {
    visibility: hidden;
    height: 0;

    .solution-graph {
      position: relative;
      margin: 50px auto 10px auto;
    }

  }

  .solution-panel.panelVisible {
    visibility: visible;
    height: auto;
  }

  .graph-container {
    margin: 50px auto 20px auto;
    position: relative;
  }

  .graph-controls {
    position: relative;

    .points-input {
      padding: 3px 0px;
      border-bottom: 1px solid #ccc;

      &:last-child {
        border-bottom: none;
      }

      .point-input {
        height: 25px;

        .point-label {
          display: inline-block;
          min-width: 16px;
          padding-right: 5px;
        }

        .point-b {
          padding-left: 15px;
        }

        input {
          height: 24px;
          padding: 2px;
          font-size: 14px;
          color: #555555;
          border: 1px solid #cccccc;
          border-radius: 4px;

          &:disabled {
            background-color: #dddddd;
          }
        }

      }

      .delete-line-button {
        font-size: 16px;
        padding: 0px 5px;
        color: #333333;
        margin-top: -4px;

        &:hover {
          background-color: #dddddd;
        }

      }
    }
  }

  .graph-interaction {
    margin: 0px 20px 10px 20px;
    padding: 10px;
    max-width: 600px;

    &.warning {
      .jxgbox {
        border-color: @warning-color-border;
      }
    }

  }
}

.line-interaction-configuration {

  h3 {
    margin: 0 0 10px 0;
    padding: 0;
  }

  .intro-text {
    margin-bottom: 26px;
  }

  .exhibit-row {
    margin-top: 5px;
  }

  .reset-defaults {
    margin: 0 0 20px 0;
    font-style: italic;
  }

  .input-number-label {
    margin-bottom: 0;
    padding-top: 7px;
  }

  .inline-error-message {
    display: inline-block;
    position: absolute;
    left: 115px;
    top: 4px;
    height: 26px;
    color: white;
    background-color: #B33A3A;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    font-size: 12px;
    white-space: nowrap;
  }

  .delete-line {
    font-size: 20px;
  }
}
