.view-numbered-lines p {
    padding-left: 30px;
    line-height: 23px;
}


.view-numbered-lines ol {
    counter-reset: item;
    margin-left: 0;
    padding-left: 0;
}

.view-numbered-lines li {
    display: block;
    margin-left: 2em;
    padding: 0px;

}

.view-numbered-lines li:before {
    display: inline-block;
    content: counter(item) " ";
    counter-increment: item;
    width: 3em;
    text-align: right;
    padding-right: 1em;
    margin-left: -2em;
}