
.feedback {
  &.panel {
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    background: @warning-block-foreground;
    position: relative;
    padding: 0;
    font-family: 'Kameron';

    .cs-icon {
      position: absolute;
      top: -3px;
      left: -5px;
      width: 40px;
    }

    .panel-body {
      padding: 15px 15px 15px 50px;
      color: @warning-background;
    }


    &.warning {
      .warning-panel();

      &.answer-expected {
        .panel-heading {
          display: none;
        }
        .panel-body {
          color: @warning-color;
          background-color: @warning-color-background;
          border: 1px solid @warning-color-border;
          border-radius: 4px;
        }
      }
    }
  }
}

.feedback-selector-view {
  margin-bottom: 10px;

  .feedback-preview {
    min-height: 36px;
    display: inline-block;
    margin-top: 10px;
    border: none;
    width: 100%;
    height: auto;
    box-shadow: none;
  }

  .feedback-preview .mini-wiggi-wiz {
    background-color: white;
  }

  .default-feedback {
    margin: 15px;
    .ng-binding {
      & > div {
        display: inline-block;
      }
    }
  }

  .panel {
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;

    .panel-body {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      padding: 0px;
    }


    &.correct {
      .color-panel(@correct-background);
    }

    &.incorrect {
      .color-panel(@incorrect-background);
    }

    &.partial {
      .color-panel(@partially-correct-background);
    }
  }
}

.feedback-panel-header {
  cursor: pointer;
}