.feedback-selector-view .feedback-preview {
  min-height: 36px;
  display: inline-block;
  margin-top: 10px;
  padding: 6px 6px 6px 6px;
  border-radius: 4px;
  width: 90%;
  height: auto;

}

.feedback-selector-view .feedback-preview .mini-wiggi-wiz {
  background-color: white;
}

.feedback-selector-view .feedback-preview.incorrect {
  background: url("/assets/images/feedback/wrong-icon.png") no-repeat scroll 4px 6px;
  border: 2px solid #F8A31A;
  padding-left: 36px;
}

.feedback-selector-view .feedback-preview.partial {
  background: url("/assets/images/feedback/partial-icon.png") no-repeat scroll 4px 6px;
  border: 2px solid #843ABC;
  padding-left: 36px;
}

.feedback-selector-view .feedback-preview.correct {
  background: url("/assets/images/feedback/correct-icon.png") no-repeat scroll 4px 6px;
  border: 2px solid #80b312;
  padding-left: 36px;
}